<!-- Add sites -->
<h2 mat-dialog-title>
  Add site
  <span fxFlex="1 1 auto">
  
  </span>

  <!--<button mat-stroked-button (click)="resetForm()">Reset form</button> -->
  <button mat-icon-button aria-label="close dialog" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</h2>

<button mat-flat-button mat-dialog-close color="primary" *ngIf="submitted">
  Site details added successfully!!
</button>

<div mat-dialog-content *ngIf="!submitted">
  
  <mat-horizontal-stepper linear labelPosition="bottom">
    <form [formGroup]="siteForm">
  
      <!--Basic site data -->
      <mat-step label="Basic site data" [stepControl]="siteForm">
          <div fxLayout="column" fxLayoutGap="20px">
  
            <div fxFlex.gt-xs="100%" fxLayoutAlign.gt-xs="space-between" fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutGap.xs="10px" fxLayoutGap.gt-xs="20px">
  
              <mat-form-field fxFlex.gt-xs="240px">
                <mat-label>Site name</mat-label>
                <input type="text" matInput formControlName="name">
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Site code</mat-label>
                <input type="text" matInput formControlName="code">
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>State select</mat-label>
                <mat-select formControlName="state">
                  <mat-option value="kaduna">Kaduna</mat-option>
                </mat-select>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>LGA select</mat-label>
                <mat-select formControlName="lga">
                  <mat-option value="lg1">
                    lg1
                  </mat-option>
                </mat-select>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="320px">
                <mat-label>Street address</mat-label>
                <textarea style="resize:none;" matInput formControlName="streetAddress"></textarea>
              </mat-form-field>
  
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Site area</mat-label>
                <input type="text" matInput class="right-align" formControlName="measurement">
                <span matSuffix> m<sup>2</sup></span>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Site level</mat-label>
                <input type="text" matInput class="right-align" formControlName="level">
                <span matSuffix>m</span>
              </mat-form-field>
  
              <div formGroupName="position" fxFlex="1 1 auto" fxLayoutGap="10px grid" fxLayout.xs="column" fxLayout.gt-xs="row wrap">
  
                <mat-form-field fxFlex.gt-xs="120px">
                  <mat-label>Site position</mat-label>
                  <input type="text" matInput class="right-align" formControlName="longitude">
                  <mat-hint align="end">longitude</mat-hint>
                </mat-form-field>
  
                <mat-form-field fxFlex.gt-xs="120px">
                  <mat-label>Site position</mat-label>
                  <input type="text" matInput class="right-align" formControlName="latitude">
                  <mat-hint align="end">latitude</mat-hint>
                </mat-form-field>
              </div>
  
              <label class="file">
                <input id="file" formControlName="map" type="file"  placeholder="Site plan">
                <span class="file-custom"></span>
              </label>
              <mat-form-field fxFlex.gt-xs="100%">
                <mat-label>General comments</mat-label>
                <textarea matInput formControlName="comment" style="resize:none;" matInput></textarea>
              </mat-form-field>
  
            </div>
  
            <div fxLayout="row">
              <span fxFlex="1 1 auto"></span>
              <button mat-flat-button color="primary" matStepperNext>
                Next
                <mat-icon>chevron_right</mat-icon>
              </button>
            </div>
          </div>
      </mat-step>

      <!--Gate -->
      <mat-step label="Gate" formGroupName="gate" [stepControl]="siteForm.controls.gate">
  
          <div fxLayout="column" fxLayoutGap="20px" style="height: 100%">
  
            <div fxLayoutAlign.gt-xs="space-between" fxFlex.gt-xs="100%"fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutFap.xs="10px" fxLayoutGap.gt-xs="20px grid">
  
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Size</mat-label>
                <input type="text" matInput formControlName="size">
                <span matSuffix>m</span>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Thickness</mat-label>
                <input type="text" matInput formControlName="thickness">
                <span matSuffix>mm</span>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Condition</mat-label>
                <mat-select formControlName="condition">
                  <mat-option value="working">
                    Working
                  </mat-option>
                  <mat-option value="not working">
                    Not working
                  </mat-option>
                  <mat-option value="repairable">
                    Repairable
                  </mat-option>
                </mat-select>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Damage</mat-label>
                <mat-select formControlName="damage">
                  <mat-option value=25> 25% </mat-option>
                  <mat-option value=50> 50% </mat-option>
                  <mat-option value=25> 75% </mat-option>
                </mat-select>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="240px">
                <mat-label>Cost of repair</mat-label>
                <input type="text" matInput formControlName="costOfRepair">
                <span matPrefix>&#8358; &nbsp;</span><span matSuffix>.00</span>
              </mat-form-field>
  
            </div>
  
            <div fxLayout="row">
              <button mat-flat-button color="primary" matStepperPrevious>
                <mat-icon>chevron_left</mat-icon>
                Previous
              </button>
              <span fxFlex="1 1 auto"></span>
              <button mat-flat-button color="primary" matStepperNext>
                Next
                <mat-icon>chevron_right</mat-icon>
              </button>
            </div>
  
          </div>
  
      </mat-step>
  
      <!-- Fence -->
      <mat-step label="Fence" formGroupName="fence" [stepControl]="siteForm.controls.fence">

          <div fxLayout="column" fxLayoutGap="20px">
  
            <div fxLayoutAlign.gt-xs="space-between" fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutGap="20px grid">
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Height</mat-label>
                <input type="text" matInput formControlName="fenceHeight">
                <span matSuffix>m</span>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Perimeter</mat-label>
                <input type="text" matInput formControlName="perimeter">
                <span matSuffix>m</span>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Concrete work</mat-label>
                <input type="text" matInput formControlName="concreteWork">
                <span matSuffix>m<sup>3</sup></span>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Block work</mat-label>
                <input type="text" matInput formControlName="blockWork">
                <span matSuffix>m<sup>2</sup></span>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Form work</mat-label>
                <input type="text" matInput formControlName="formWork">
                <span matSuffix>m<sup>2</sup></span>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Reinforcement</mat-label>
                <input type="text" matInput formControlName="reinforcement">
                <span matSuffix>kg</span>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Rendering</mat-label>
                <input type="text" matInput formControlName="rendering">
                <span matSuffix>m<sup>2</sup></span>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Barb wire</mat-label>
                <input type="text" matInput formControlName="barbWire">
                <span matSuffix>m</span>
              </mat-form-field>
  
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Condition</mat-label>
                <mat-select formControlName="condition">
                  <mat-option value="working">
                    Working
                  </mat-option>
                  <mat-option value="not working">
                    Not working
                  </mat-option>
                  <mat-option value="repairable">
                    Repairable
                  </mat-option>
                </mat-select>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Damage</mat-label>
                <mat-select formControlName="damage">
                  <mat-option value=25> 25% </mat-option>
                  <mat-option value=50> 50% </mat-option>
                  <mat-option value=25> 75% </mat-option>
                </mat-select>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="240px">
                <mat-label>Cost of repair</mat-label>
                <input type="text" matInput formControlName="costOfRepair">
                <sup matPrefix>&#8358;</sup><span matSuffix>.00</span>
              </mat-form-field>
  
            </div>
  
            <div fxLayout="row">
              <button mat-flat-button color="primary" matStepperPrevious>
                <mat-icon>chevron_left</mat-icon>
                Previous
              </button>
              <span fxFlex="1 1 auto"></span>
              <button mat-flat-button color="primary" matStepperNext>
                Next
                <mat-icon>chevron_right</mat-icon>
              </button>
            </div>
  
          </div>
  
      </mat-step>
  
      <!-- Roads -->
      <mat-step label="Roads" formGroupName="roads" [stepControl]="siteForm.controls.roads">
  
          <div fxLayout="column" fxLayoutGap="20px">
  
            <div fxLayoutAlign.gt-xs="space-between" fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutGap.xs="10px" fxLayoutGap.gt-xs="20px grid">
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Width</mat-label>
                <input type="text" matInput formControlName="width">
                <span matSuffix>m</span>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Length</mat-label>
                <input type="text" matInput formControlName="length">
                <span matSuffix>m</span>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Surface dressing</mat-label>
                <input type="text" matInput formControlName="surfaceDressing">
                <span matSuffix>m<sup>2</sup></span>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Condition</mat-label>
                <mat-select formControlName="condition">
                  <mat-option value="tarred">
                    tarred
                  </mat-option>
                  <mat-option value="untarred">
                    untarred
                  </mat-option>
                  <mat-option value="graded">
                    graded
                  </mat-option>
                  <mat-option value="potholes">
                    potholes
                  </mat-option>
                  <mat-option value="bad patches">
                    bad patches
                  </mat-option>
                </mat-select>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Damage</mat-label>
                <mat-select formControlName="damage">
                  <mat-option value=25> 25% </mat-option>
                  <mat-option value=50> 50% </mat-option>
                  <mat-option value=25> 75% </mat-option>
                </mat-select>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="240px">
                <mat-label>Cost of repair</mat-label>
                <input type="text" matInput formControlName="costOfRepair">
                <span matPrefix>&#8358;</span><span matSuffix>.00</span>
              </mat-form-field>
  
            </div>
  
            <div fxLayout="row">
              <button mat-flat-button color="primary" matStepperPrevious>
                <mat-icon>chevron_left</mat-icon>
                Previous
              </button>
              <span fxFlex="1 1 auto"></span>
              <button mat-flat-button color="primary" matStepperNext>
                Next
                <mat-icon>chevron_right</mat-icon>
              </button>
            </div>
  
          </div>
  
      </mat-step>
  
      <!-- Paths -->
      <mat-step label="Paths" formGroupName="paths" [stepControl]="siteForm.controls.paths">
  
          <div fxLayout="column" fxLayoutGap="20px">
  
            <div fxLayoutAlign.gt-xs="space-between" fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutGap.xs="10px" fxLayoutGap.gt-xs="20px grid">
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Width</mat-label>
                <input type="text" matInput formControlName="width">
                <span matSuffix>m</span>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>length</mat-label>
                <input type="text" matInput formControlName="length">
                <span matSuffix>m</span>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Surface dressing</mat-label>
                <input type="text" matInput formControlName="surfaceDressing">
                <span matSuffix>m<sup>2</sup></span>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Condition</mat-label>
                <mat-select formControlName="condition">
                  <mat-option value="tarred">
                    tarred
                  </mat-option>
                  <mat-option value="untarred">
                    untarred
                  </mat-option>
                  <mat-option value="graded">
                    graded
                  </mat-option>
                  <mat-option value="potholes">
                    potholes
                  </mat-option>
                  <mat-option value="bad patches">
                    bad patches
                  </mat-option>
                </mat-select>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Damage</mat-label>
                <mat-select formControlName="damage">
                  <mat-option value=25> 25% </mat-option>
                  <mat-option value=50> 50% </mat-option>
                  <mat-option value=25> 75% </mat-option>
                </mat-select>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="240px">
                <mat-label>Cost of repair</mat-label>
                <input type="text" matInput formControlName="costOfRepair">
                <span matPrefix>&#8358;</span><span matSuffix>.00</span>
              </mat-form-field>
  
            </div>
  
            <div fxLayout="row">
              <button mat-flat-button color="primary" matStepperPrevious>
                <mat-icon>chevron_left</mat-icon>
                Previous
              </button>
              <span fxFlex="1 1 auto"></span>
              <button mat-flat-button color="primary" matStepperNext>
                Next
                <mat-icon>chevron_right</mat-icon>
              </button>
            </div>
  
          </div>
  
      </mat-step>
  
      <!-- Driveway -->
      <mat-step label="Driveway" formGroupName="driveway" [stepControl]="siteForm.controls.driveway">
  
          <div fxLayout="column" fxLayoutGap="20px">
  
            <div fxLayoutAlign.gt-xs="space-between" fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutGap.xs="10px" fxLayoutGap.gt-xs="20px grid">
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Width</mat-label>
                <input type="text" matInput>
                <span matSuffix>m</span>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>length</mat-label>
                <input type="text" matInput>
                <span matSuffix>m</span>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Surface dressing</mat-label>
                <input type="text" matInput formControlName="surfaceDressing">
                <span matSuffix>m<sup>2</sup></span>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Condition</mat-label>
                <mat-select formControlName="condition">
                  <mat-option value="tarred">
                    tarred
                  </mat-option>
                  <mat-option value="untarred">
                    untarred
                  </mat-option>
                  <mat-option value="graded">
                    graded
                  </mat-option>
                  <mat-option value="potholes">
                    potholes
                  </mat-option>
                  <mat-option value="bad patches">
                    bad patches
                  </mat-option>
                </mat-select>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Damage</mat-label>
                <mat-select formControlName="damage">
                  <mat-option value=25> 25% </mat-option>
                  <mat-option value=50> 50% </mat-option>
                  <mat-option value=25> 75% </mat-option>
                </mat-select>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="240px">
                <mat-label>Cost of repair</mat-label>
                <input type="number" matInput formControlName="costOfRepair">
                <span matPrefix>&#8358;</span><span matSuffix>.00</span>
              </mat-form-field>
  
            </div>
  
            <div fxLayout="row">
              <button mat-flat-button color="primary" matStepperPrevious>
                <mat-icon>chevron_left</mat-icon>
                Previous
              </button>
              <span fxFlex="1 1 auto"></span>
              <button mat-flat-button color="primary" matStepperNext>
                Next
                <mat-icon>chevron_right</mat-icon>
              </button>
            </div>
  
          </div>
  
      </mat-step>
  
      <!-- Drainage -->
      <mat-step label="Drainage" formGroupName="drainage" [stepControl]="siteForm.controls.drainage">
  
          <div fxLayout="column" fxLayoutGap="20px">
  
            <div fxLayoutAlign.gt-xs="space-between" fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutGap.xs="10px" fxLayoutGap.gt-xs="20px grid">
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Depth</mat-label>
                <input type="text" matInput formControlName="depth">
                <span matSuffix>m</span>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Length</mat-label>
                <input type="number" matInput formControlName="length">
                <span matSuffix>m</span>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Concrete work</mat-label>
                <input type="text" matInput formControlName="concreteWork">
                <span matSuffix>m<sup>3</sup></span>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Block work</mat-label>
                <input type="text" matInput formControlName="blockWork">
                <span matSuffix>m<sup>2</sup></span>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Form work</mat-label>
                <input type="text" matInput formControlName="formWork">
                <span matSuffix>m<sup>2</sup></span>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Reinforcement</mat-label>
                <input type="text" matInput formControlName="reinforcement">
                <span matSuffix>kg</span>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Rendering</mat-label>
                <input type="text" matInput formControlName="rendering">
                <span matSuffix>m<sup>2</sup></span>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Condition</mat-label>
                <mat-select formControlName="condition">
                  <mat-option value="working">
                    Working
                  </mat-option>
                  <mat-option value="not working">
                    Not working
                  </mat-option>
                  <mat-option value="repairable">
                    Repairable
                  </mat-option>
                </mat-select>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Damage</mat-label>
                <mat-select formControlName="damage">
                  <mat-option value=25> 25% </mat-option>
                  <mat-option value=50> 50% </mat-option>
                  <mat-option value=25> 75% </mat-option>
                </mat-select>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="240px">
                <mat-label>Cost of repair</mat-label>
                <input type="number" matInput formControlName="costOfRepair">
                <span matPrefix>&#8358;</span><span matSuffix>.00</span>
              </mat-form-field>
  
            </div>
  
            <div fxLayout="row">
              <button mat-flat-button color="primary" matStepperPrevious>
                <mat-icon>chevron_left</mat-icon>
                Previous
              </button>
              <span fxFlex="1 1 auto"></span>
              <button mat-flat-button color="primary" matStepperNext>
                Next
                <mat-icon>chevron_right</mat-icon>
              </button>
            </div>
  
          </div>
  
      </mat-step>

      <!-- Electricity -->
      <mat-step label="Electricity" formGroupName="electricity" [stepControl]="siteForm.controls.electricity">
  
          <div fxLayout="column" fxLayoutGap="20px">
            <div fxLayout="column">
  
              <div fxLayoutAlign.gt-xs="space-between" fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutGap.xs="10px" fxLayoutGap.gt-xs="20px grid">
  
                <mat-form-field fxFlex.gt-xs="120px%">
                  <mat-label>Piping/Accessories</mat-label>
                  <input type="text" matInput formControlName="pipingAndAccessories">
                  <span matSuffix>m</span>
                </mat-form-field>
  
                <mat-form-field fxFlex.gt-xs="120px">
                  <mat-label>Cabling</mat-label>
                  <input type="number" matInput formControlName="cabling">
                  <span matSuffix>m</span>
                </mat-form-field>
  
  
  
                <mat-form-field fxFlex.gt-xs="120px">
                  <mat-label>Condition</mat-label>
                  <mat-select formControlName="condition">
                    <mat-option value="working">
                      Working
                    </mat-option>
                    <mat-option value="not working">
                      Not working
                    </mat-option>
                    <mat-option value="repairable">
                      Repairable
                    </mat-option>
                  </mat-select>
                </mat-form-field>
  
                <mat-form-field fxFlex.gt-xs="120px">
                  <mat-label>Damage</mat-label>
                  <mat-select formControlName="damage">
                    <mat-option value=25> 25% </mat-option>
                    <mat-option value=50> 50% </mat-option>
                    <mat-option value=25> 75% </mat-option>
                  </mat-select>
                </mat-form-field>
  
                <mat-form-field fxFlex.gt-xs="240px">
                  <mat-label>Cost of repair</mat-label>
                  <input type="number" matInput formControlName="costOfRepair">
                  <span matPrefix>&#8358;</span><span matSuffix>.00</span>
                </mat-form-field>
  
              </div>
              <div fxLayout="column">
                <div formArrayName="sources" fxFlex.gt-xs fxLayout fxLayout.gt-xs="row wrap" fxLayoutGap="20px">
                  <div *ngFor="let source of electricitySources.controls; let i = index">
                    <mat-form-field>
                      <mat-label>Sources</mat-label>
                      <input type="text" matInput [formControlName]="i">
                      <mat-icon matSuffix color="warn" (click)="removeElectricitySource(i)">cancel</mat-icon>
                    </mat-form-field>
                  </div>
  
                </div>
  
                <div fxLayout="row">
                  <span fxFlex="1 1 auto"></span>
                  <button mat-flat-button color="primary" (click)="addElectricitySource()">
                    <mat-icon>add</mat-icon>
                    Add source
                  </button>
                </div>
              </div>
  
            </div>
  
            <div fxLayout="row">
                <button mat-flat-button color="primary" matStepperPrevious>
                  <mat-icon>chevron_left</mat-icon>
                  Previous
                </button>
                <span fxFlex="1 1 auto"></span>
                <button mat-flat-button color="primary" matStepperNext>
                  Next
                  <mat-icon>chevron_right</mat-icon>
                </button>
              </div>
  
          </div>
  
      </mat-step>
  
      <!-- Water -->
      <mat-step label="Water" formGroupName="water" [stepControl]="siteForm.controls.water">
  
          <div fxLayout="column" fxLayoutGap="20px">
  
            <div fxLayoutAlign.gt-xs="space-between" fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutGap.xs="10px" fxLayoutGap.gt-xs="20px grid">
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Piping & Accessories</mat-label>
                <input type="text" matInput formControlName="pipingAndAccessories">
                <span matSuffix>m</span>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Condition</mat-label>
                <mat-select formControlName="condition">
                  <mat-option value="working">
                    Working
                  </mat-option>
                  <mat-option value="not working">
                    Not working
                  </mat-option>
                  <mat-option value="repairable">
                    Repairable
                  </mat-option>
                </mat-select>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Damage</mat-label>
                <mat-select formControlName="damage">
                  <mat-option value=25> 25% </mat-option>
                  <mat-option value=50> 50% </mat-option>
                  <mat-option value=25> 75% </mat-option>
                </mat-select>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="240px">
                <mat-label>Cost of repair</mat-label>
                <input type="text" matInput formControlName="costOfRepair">
                <span matPrefix>&#8358;</span><span matSuffix>.00</span>
              </mat-form-field>
  
            </div>
  
            <div fxLayout="column">
              <div formArrayName="sources" fxFlex.gt-xs fxLayout fxLayout.gt-xs="row wrap" fxLayoutGap="20px">
                <div *ngFor="let source of waterSources.controls; let i = index">
                  <mat-form-field>
                    <mat-label>Sources</mat-label>
                    <input type="text" matInput [formControlName]="i">
                    <mat-icon matSuffix color="warn" (click)="removeWaterSource(i)">cancel</mat-icon>
                  </mat-form-field>
                </div>
  
              </div>
  
              <div fxLayout="row">
                <span fxFlex="1 1 auto"></span>
                <button mat-flat-button color="primary" (click)="addWaterSource()">
                  <mat-icon>add</mat-icon>
                  Add source
                </button>
              </div>
            </div>
  
            <div fxLayout="row">
              <button mat-flat-button color="primary" matStepperPrevious>
                <mat-icon>chevron_left</mat-icon>
                Previous
              </button>
              <span fxFlex="1 1 auto"></span>
              <button mat-flat-button color="primary" matStepperNext>
                Next
                <mat-icon>chevron_right</mat-icon>
              </button>
            </div>
  
          </div>
  
      </mat-step>
  
      <!-- Others -->
      <mat-step label="Others">
  
          <div fxLayout="column" fxLayoutGap="10px">
  
  
            <div fxLayout="column"  fxLayoutGap="10px">
  
              <div fxLayout="row">
                <span fxFlex="1 1 auto"></span>
                <button mat-stroked-button color="primary" (click)="addSteps()" *ngIf="!hasSteps">
                  <mat-icon>
                    add
                  </mat-icon>
                  Add Steps
                </button>
                <button mat-stroked-button color="warn" (click)="removeSteps()" *ngIf="hasSteps">
                  <mat-icon>
                    cancel
                  </mat-icon>
                  Remove Steps
                </button>
                </div>
  
                <mat-divider *ngIf="hasSteps"></mat-divider>
                <h1 *ngIf="hasSteps">
                  Steps
                </h1>
                <div fxLayoutAlign.gt-xs="space-between" fxLayout.gt-xs="row wrap" *ngIf="hasSteps" formGroupName="steps" fxLayoutGap.xs="10px" fxLayoutGap.gt-xs="20px grid">
  
                  <mat-form-field fxFlex="120px">
                    <mat-label>
                      Concrete work
                    </mat-label>
                    <input matInput formControlName="concreteWork">
                    <span matSuffix>m<sup>3</sup></span>
                  </mat-form-field>
  
                  <mat-form-field fxFlex="120px">
                    <mat-label>
                      Width
                    </mat-label>
                    <input matInput formControlName="width">
                    <span matSuffix>m</span>
                  </mat-form-field>
  
                  <mat-form-field fxFlex="120px">
                    <mat-label>
                      Length
                    </mat-label>
                    <input matInput formControlName="length">
                    <span matSuffix>m</span>
                  </mat-form-field>
  
                  <mat-form-field fxFlex="120px">
                    <mat-label>
                      Quantity
                    </mat-label>
                    <input matInput formControlName="quantity">
                  </mat-form-field>
  
                  <mat-form-field fxFlex="120px">
                    <mat-label>
                      surface dressing
                    </mat-label>
                    <input matInput formControlName="surfaceDressing">
                    <span matSuffix>m<sup>2</sup></span>
                  </mat-form-field>
  
                  <mat-form-field fxFlex.gt-xs="120px">
                    <mat-label>Condition</mat-label>
                    <mat-select formControlName="condition">
                      <mat-option value="tarred">
                        tarred
                      </mat-option>
                      <mat-option value="untarred">
                        untarred
                      </mat-option>
                      <mat-option value="graded">
                        graded
                      </mat-option>
                      <mat-option value="potholes">
                        potholes
                      </mat-option>
                      <mat-option value="bad patches">
                        bad patches
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
  
                  <mat-form-field fxFlex.gt-xs="120px">
                    <mat-label>Damage</mat-label>
                    <mat-select formControlName="damage">
                      <mat-option value=25> 25% </mat-option>
                      <mat-option value=50> 50% </mat-option>
                      <mat-option value=25> 75% </mat-option>
                    </mat-select>
                  </mat-form-field>
  
                  <mat-form-field fxFlex.gt-xs="240px">
                    <mat-label>Cost of repair</mat-label>
                    <input matInput formControlName="costOfRepair">
                    <span matPrefix>&#8358;</span><span matSuffix>.00</span>
                  </mat-form-field>
  
                </div>
  
                <div fxLayout="column">
  
                  <div fxLayout="row">
                    <span fxFlex="1 1 auto"></span>
                    <button mat-stroked-button color="primary" *ngIf="!hasGasTanks" (click)="addGasTanks()">
                      <mat-icon>
                        add
                      </mat-icon>
                      Add Gas Tanks
                    </button>
                    <button mat-stroked-button color="warn" *ngIf="hasGasTanks" (click)="removeGasTanks()">
                      <mat-icon>
                        cancel
                      </mat-icon>
                      Remove gas tanks
                    </button>
                  </div>
                  <mat-divider *ngIf="hasGasTanks"></mat-divider>
                  <h1 *ngIf="hasGasTanks">
                    Gas tanks
                  </h1>
                  <div fxLayoutAlign.gt-xs="space-between" fxLayout.gt-xs="row wrap" *ngIf="hasGasTanks" formGroupName="gasTanks" fxLayoutGap.xs="10px" fxLayoutGap.gt-xs="20px grid">
  
                    <mat-form-field fxFlex="120px">
                      <mat-label>
                        Quantity
                      </mat-label>
                      <input matInput formControlName="quantity">
                    </mat-form-field>
  
                    <mat-form-field fxFlex.gt-xs="120px">
                      <mat-label>Condition</mat-label>
                      <mat-select formControlName="condition">
                        <mat-option value="working">
                          working
                        </mat-option>
                        <mat-option value="not working">
                          not working
                        </mat-option>
                        <mat-option value="repairable">
                          repairable
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
  
                    <mat-form-field fxFlex.gt-xs="120px">
                      <mat-label>Damage</mat-label>
                      <mat-select formControlName="damage">
                        <mat-option value=25> 25% </mat-option>
                        <mat-option value=50> 50% </mat-option>
                        <mat-option value=25> 75% </mat-option>
                      </mat-select>
                    </mat-form-field>
  
                    <mat-form-field fxFlex.gt-xs="240px">
                      <mat-label>Cost of repair</mat-label>
                      <input matInput formControlName="costOfRepair">
                      <span matPrefix>&#8358;</span><span matSuffix>.00</span>
                    </mat-form-field>
                  </div>
                </div>
  
  
            <div fxLayout="column">
  
              <div fxLayout="row">
                <span fxFlex="1 1 auto"></span>
                <button mat-stroked-button color="primary" *ngIf="!hasRamps" (click)="addRamps()">
                  <mat-icon>
                    add
                  </mat-icon>
                  Add Ramps
                </button>
                <button mat-stroked-button color="warn" *ngIf="hasRamps" (click)="removeRamps()">
                  <mat-icon>
                    cancel
                  </mat-icon>
                  Remove Ramps
                </button>
              </div>
  
              <mat-divider *ngIf="hasRamps"></mat-divider>
              <h1 *ngIf="hasRamps">
                Ramps
              </h1>
              <div fxLayoutAlign.gt-xs="space-between" fxLayout.gt-xs="row wrap" *ngIf="hasRamps" formGroupName="ramps" fxLayoutGap.xs="10px" fxLayoutGap.gt-xs="20px grid">
  
                <mat-form-field fxFlex="120px">
                  <mat-label>
                    width
                  </mat-label>
                  <input matInput formControlName="width">
                  <span matSuffix>m</span>
                </mat-form-field>
  
                <mat-form-field fxFlex="120px">
                  <mat-label>
                    sloping length
                  </mat-label>
                  <input matInput formControlName="slopingLength">
                  <span matSuffix>m</span>
                </mat-form-field>
  
                <mat-form-field fxFlex="120px">
                  <mat-label>
                    concrete work
                  </mat-label>
                  <input matInput formControlName="concreteWork">
                  <span matSuffix>m<sup>2</sup></span>
                </mat-form-field>
  
                <mat-form-field fxFlex.gt-xs="120px">
                  <mat-label>Condition</mat-label>
                  <mat-select formControlName="condition">
                    <mat-option value="tarred">
                      working
                    </mat-option>
                    <mat-option value="untarred">
                      not working
                    </mat-option>
                    <mat-option value="graded">
                      repairable
                    </mat-option>
                  </mat-select>
                </mat-form-field>
  
                <mat-form-field fxFlex.gt-xs="240px">
                  <mat-label>Cost of repair</mat-label>
                  <input matInput formControlName="costOfRepair">
                  <span matPrefix>&#8358;</span><span matSuffix>.00</span>
                </mat-form-field>
              </div>
            </div>
  
  
  
  
              <div fxLayout="column">
                <div fxLayout="row">
                  <span fxFlex="1 1 auto"></span>
                  <button mat-stroked-button color="primary" *ngIf="!hasStreetLights" (click)="addStreetLights()">
                    <mat-icon>
                      add
                    </mat-icon>
                    Add Street Lights
                  </button>
                  <button mat-stroked-button color="warn" *ngIf="hasStreetLights" (click)="removeStreetLights()">
                    <mat-icon>
                      cancel
                    </mat-icon>
                    Remove Street Lights
                  </button>
                </div>
  
                <mat-divider *ngIf="hasStreetLights"></mat-divider>
                <h1 *ngIf="hasStreetLights">
                  Street lights
                </h1>
                <div fxLayoutAlign.gt-xs="space-between" fxLayout.gt-xs="row wrap" *ngIf="hasStreetLights" formGroupName="streetLights" fxLayoutGap.xs="10px" fxLayoutGap.gt-xs="20px grid">
  
                  <mat-form-field fxFlex="120px">
                    <mat-label>
                      quantity
                    </mat-label>
                    <input matInput formControlName="quantity">
                  </mat-form-field>
  
                  <mat-form-field fxFlex="120px">
                    <mat-label>
                      height
                    </mat-label>
                    <input matInput formControlName="height">
                    <span matSuffix>m</span>
                  </mat-form-field>
  
                  <mat-form-field fxFlex.gt-xs="120px">
                    <mat-label>Condition</mat-label>
                    <mat-select formControlName="condition">
                      <mat-option value="working">
                        working
                      </mat-option>
                      <mat-option value="not working">
                        not working
                      </mat-option>
                      <mat-option value="incomplete">
                        incomplete
                      </mat-option>
                      <mat-option value="repairable">
                        repairable
                      </mat-option>
                      <mat-option value="Obsolete">
                        obsolete
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
  
                  <mat-form-field fxFlex.gt-xs="240px">
                    <mat-label>Cost of repair</mat-label>
                    <input matInput formControlName="costOfRepair">
                    <span matPrefix>&#8358;</span><span matSuffix>.00</span>
                  </mat-form-field>
                </div>
  
              </div>
  
              <div fxLayout="column">
                <div fxLayout="row">
                  <span fxFlex="1 1 auto"></span>
                  <button mat-stroked-button color="primary" *ngIf="!hasWasteSite" (click)="addWasteSite()">
                    <mat-icon>
                      add
                    </mat-icon>
                    Add Waste site
                  </button>
                  <button mat-stroked-button color="warn" *ngIf="hasWasteSite" (click)="removeWasteSite()">
                    <mat-icon>
                      cancel
                    </mat-icon>
                    Remove Waste site
                  </button>
                </div>
  
                <mat-divider *ngIf="hasWasteSite"></mat-divider>
                <h1 *ngIf="hasWasteSite">
                  Waste site
                </h1>
                <div fxLayoutAlign.gt-xs="space-between" fxLayout.gt-xs="row wrap" *ngIf="hasWasteSite" formGroupName="wasteSite" fxLayoutGap.xs="10px" fxLayoutGap.gt-xs="20px grid">
  
                  <mat-form-field fxFlex="120px">
                    <mat-label>
                      length
                    </mat-label>
                    <input matInput formControlName="length">
                    <span matSuffix>m</span>
                  </mat-form-field>
  
                  <mat-form-field fxFlex="120px">
                    <mat-label>
                      width
                    </mat-label>
                    <input matInput formControlName="width">
                    <span matSuffix>m</span>
                  </mat-form-field>
  
                  <div fxLayoutAlign.gt-xs="space-between" formGroupName="position" fxFlex="50%" fxLayoutGap="10px grid" fxLayout.xs="column" fxLayout.gt-xs="row wrap">
  
                    <mat-form-field fxFlex.gt-xs="120px">
                      <mat-label>Site position</mat-label>
                      <input type="number" matInput formControlName="longitude">
                      <mat-hint position="end">Longitude</mat-hint>
                    </mat-form-field>
  
                    <mat-form-field fxFlex.gt-xs="120px">
                      <mat-label>Site position</mat-label>
                      <input type="number" matInput formControlName="latitude">
                      <mat-hint position="end">Latitude</mat-hint>
                    </mat-form-field>
                  </div>
  
                  <mat-form-field fxFlex.gt-xs="240px">
                    <mat-label>Cost of repair</mat-label>
                    <input matInput formControlName="costOfRepair">
                    <span matPrefix>&#8358;</span><span matSuffix>.00</span>
                  </mat-form-field>
                </div>
  
              </div>
  
  
            </div>
  
            <div fxLayout="row">
              <button mat-flat-button color="primary" matStepperPrevious>
                <mat-icon>chevron_left</mat-icon>
                Previous
              </button>
              <span fxFlex="1 1 auto"></span>
              <button mat-flat-button color="primary" [disabled]="siteForm.invalid" (click)="submit()">
                <mat-icon>check</mat-icon>
                Add site
              </button>
            </div>
  
          </div>
  
      </mat-step>
  </form>
  </mat-horizontal-stepper>
</div>

<div mat-dialog-actions align="end" *ngIf="error">
  <span color="warn" style="color:red" class="mat-h4">Unable to complete action.</span>
</div>