<!-- Add Low Value Equipment -->
<h2 mat-dialog-title>
    Add Low value equipment
    <span fxFlex="1 1 auto">
    
    </span>
  
    <!--<button mat-stroked-button>Reset form</button>--> 
    <button mat-icon-button aria-label="close dialog" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </h2>

  <!--<button mat-flat-button mat-dialog-close color="primary">
    Equipment added successfully!!
  </button>-->

  <mat-dialog-content>

    <div fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutGap.xs="20px" fxLayoutGap.gt-xs="20px grid" [formGroup]="lveForm">

      <mat-form-field fxFlex.gt-xs="320px">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name">
      </mat-form-field>

      <mat-form-field fxFlex.gt-xs="120px">
        <mat-label>Code</mat-label>
        <input matInput type="text" formControlName="code">
      </mat-form-field>

      <mat-form-field fxFlex.gt-xs="120px">
        <mat-label>Quantity</mat-label>
        <input matInput type="number" formControlName="quantity">
      </mat-form-field>

      <mat-form-field fxFlex.gt-xs="400px">
        <mat-label>S.no</mat-label>
        <input matInput type="text" formControlName="serialNumber">
      </mat-form-field>

      <mat-form-field fxFlex.gt-xs="120px">
        <mat-label>Date commissioned</mat-label>
        <input matInput type="date" formControlName="dateCommissioned">
      </mat-form-field>

      <mat-form-field fxFlex.gt-xs="120px">
        <mat-label>Brand</mat-label>
        <input matInput type="text" formControlName="brand">
      </mat-form-field>

      <mat-form-field fxFlex.gt-xs="120px">
        <mat-label>Model</mat-label>
        <input matInput type="text" formControlName="model">
      </mat-form-field>

      <mat-form-field fxFlex.gt-xs="120px">
        <mat-label>Status</mat-label>
        <input matInput type="text" formControlName="status">
      </mat-form-field>

      <mat-form-field fxFlex.gt-xs="240px">
        <mat-label>Cost of repair</mat-label>
        <input matInput type="text" formControlName="costOfRepair">
        <span matPrefix>&#8358;</span>
        <span matSuffix>.00</span>
      </mat-form-field>

      <mat-form-field fxFlex.gt-xs="400px">
        <mat-label>Comment</mat-label>
        <textarea matInput style="resize: none;" type="text" formControlName="comment"></textarea>
      </mat-form-field>


    </div>

  </mat-dialog-content>

  <div mat-dialog-actions align="end">
    <!--<span color="warn" class="mat-h4">Unable to complete action</span>-->
    <button mat-flat-button (click)="testSubmit();" color="primary">Add Equipment</button>
  </div>