<div fxLayout="row">
    <span fxFlex="1 1 auto"></span>
    <button mat-flat-button color="primary" (click)="openAddSiteDialog()" matTooltip="Add site details">
        <mat-icon>add</mat-icon>
        Add site
    </button>
</div>