<footer class="main-footer">
  <div class="container-dynamic d-flex">
    ABU/
    <span class="m-auto"></span>
    <!--Designed & Developed by <a href=""> Lexington Technologies</a>-->
  </div>
</footer>
