<!-- Add Building -->
<h2 mat-dialog-title *ngIf="!submitted">
  Add building
  <span fxFlex="1 1 auto">
  
  </span>

  <button mat-stroked-button (click)="resetForm()">Reset form</button> 
  <button mat-icon-button aria-label="close dialog" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</h2>

<button mat-flat-button mat-dialog-close color="primary" *ngIf="submitted">
  Building details added successfully!!
</button>

<mat-dialog-content *ngIf="!submitted">
  
  <mat-horizontal-stepper labelPosition="bottom" linear [formGroup]="buildingForm" color="primary" #stepper>

    <mat-step label="Basic info" formGroupName="structure" [stepControl]="buildingForm.controls.structure" errorMessage="Fill in all required fields">
      
        <div fxLayout="column" fxLayoutGap="20px">
  
          <span class="mat-title">Basic information</span>
  
          <div fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutAlign.gt-xs="space-between" fxLayoutGap="10px">
  
            <mat-form-field fxFlex.gt-xs="480px">
              <mat-label>Name</mat-label>
              <input matInput type="text" formControlName="name">
            </mat-form-field>
  
            <span fxFlex.gt-xs></span>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Code</mat-label>
              <input matInput type="text" formControlName="code">
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="320px">
              <mat-label>Purpose</mat-label>
              <input matInput type="text" formControlName="purpose">
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="80px">
              <mat-label>Year built</mat-label>
              <input matInput type="text" formControlName="yearBuilt">
            </mat-form-field>
  
            <div formGroupName="position" fxFlex.gt-xs="1 1 auto" fxLayoutAlign.gt-xs="space-between" fxLayoutGap="10px grid" fxLayout.xs="column" fxLayout.gt-xs="row wrap">
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>position</mat-label>
                <input matInput type="text" formControlName="longitude">
                <mat-hint align="end">Longitude</mat-hint>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>position</mat-label>
                <input matInput type="text" formControlName="latitude">
                <mat-hint align="end">Latitude</mat-hint>
              </mat-form-field>
  
            </div>
          </div>
  
          <mat-divider></mat-divider>
            <span class="mat-title">Building dimensions</span>
  
            <div formGroupName="dimensions" fxLayoutAlign.gt-xs="space-between" fxLayout.xs="column" fxLayou.gt-xs="row wrap" fxLayoutGap="10px">
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>floor area</mat-label>
                <input matInput type="text" formControlName="floorArea">
                <span matSuffix>m<sup>2</sup></span>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>wall area</mat-label>
                <input matInput type="text" formControlName="wallArea">
                <span matSuffix>m<sup>2</sup></span>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>ceiling area</mat-label>
                <input matInput type="text" formControlName="ceilingArea">
                <span matSuffix>m<sup>2</sup></span>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Number of floors</mat-label>
                <input matInput type="number" formControlName="floors">
              </mat-form-field>
  
            </div>
            <div fxLayout="row">
              <span fxFlex="1 1 auto"></span>
              <button mat-flat-button color="primary" matStepperNext>
                Next
                <mat-icon>chevron_right</mat-icon>
              </button>
            </div>
        </div>
    </mat-step>
  
    <!-- Super structure -->
    <mat-step label="Superstructure" formGroupName="superStructure" [stepControl]="buildingForm.controls.superStructure">
      
        <div fxLayout="column">
  
          <span class="mat-title">Super structure</span>
  
          <div fxLayout.xs="column" fxLayoutAlign.gt-xs="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px">
  
            <mat-form-field fxFlex.gt-xs="180px">
              <mat-label>Superstructure type</mat-label>
              <mat-select formControlName="type">
                <mat-option value="metal">
                  Metal
                </mat-option>
                <mat-option value="wood">
                  Wood
                </mat-option>
                <mat-option value="concrete">
                  Concrete
                </mat-option>
                <mat-option value="block">
                  Block
                </mat-option>
                <mat-option value="brick">
                  Brick
                </mat-option>
              </mat-select>
            </mat-form-field>
  
  
          </div>
  
          <mat-divider></mat-divider>
            <span class="mat-title">Under concrete & under block</span>
            <div formGroupName="underConcrete" fxLayoutAlign.gt-xs="space-between" fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutGap="20px">
  
              <mat-form-field fxFlex.gt-xs="100px">
                <mat-label>Concrete work</mat-label>
                <input formControlName="concreteWork" type="text" matInput>
                <span matSuffix>m<sup>3</sup></span>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="100px">
                <mat-label>Form work</mat-label>
                <input formControlName="formWork" type="text" matInput>
                <span matSuffix>m<sup>2</sup></span>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="100px">
                <mat-label>Reinforcement</mat-label>
                <input formControlName="reinforcement" type="text" matInput>
                <span matSuffix>kg</span>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="100px">
                <mat-label>Brick work</mat-label>
                <input formControlName="brickWork" type="text" matInput>
                <span matSuffix>m<sup>2</sup></span>
              </mat-form-field>
  
            </div>
  
            <mat-divider></mat-divider>
            <span class="mat-title">Under crack tiles</span>
  
            <div formGroupName="underCrackTiles" fxLayoutAlign.gt-xs="space-between" fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutGap="20px">
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Size</mat-label>
                <input matInput type="text" formControlName="size">
                <span matSuffix>m<sup>2</sup></span>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Type</mat-label>
                <input matInput formControlName="type">
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="120">
                <mat-label>Quantity</mat-label>
                <input type="number" matInput formControlName="quantity">
              </mat-form-field>
  
            </div>
  
            <mat-divider></mat-divider>
            <span class="mat-title">Under alucobond</span>
  
            <div formGroupName="underAlucobond" fxLayoutAlign.gt-xs="space-between" fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutGap="20px">
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>size</mat-label>
                <input matInput formControlName="size">
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>type</mat-label>
                <mat-select formControlName="type">
                  <mat-option value="stone">
                    stone
                  </mat-option>
                  <mat-option value="wood">
                    Wood
                  </mat-option>
                  <mat-option value="pvc">
                    PVC
                  </mat-option>
                  <mat-option value="tile">
                    Tile
                  </mat-option>
                  <mat-option value="glass">
                    Glass
                  </mat-option>
                  <mat-option value="aluminum">
                    Aluminum
                  </mat-option>
                  <mat-option value="ceramic">
                    Ceramic
                  </mat-option>
                </mat-select>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="120px" appearance="outline">
                <mat-label>Quantity</mat-label>
                <input matInput formControlName="quantity">
              </mat-form-field>
  
              <span fxFlex.gt-xs="100%"></span>
              <mat-divider></mat-divider>
              <span class="mat-sub-title">Alucobond accessories</span>
              <div fxLayout="column">                
  
                <div  style="padding:20px" fxLayout="row" fxLayoutGap="10px">
  
                  <div formArrayName="accessories" *ngFor="let accessory of accessories.controls; let i = index;" fxFlex="100%" fxLayoutGap="10px" fxLayout.gt-xs="row wrap" fxLayoutAlign.gt-xs="space-between">
  
                    <mat-form-field fxFlex.gt-xs="120px">
                      <mat-label>Item</mat-label>
                      <input matInput [formControlName]="i">
                      <button mat-icon-button matSuffix color="warn" (click)="removeAlucobondAccessory(i)">
                        <mat-icon>cancel</mat-icon>
                      </button>
                    </mat-form-field>
  
                  </div>
  
                </div>
  
                <div fxLayout="row" style="padding: 30px;">
                  <span fxFlex="100%"></span>
                  <button mat-button color="primary" (click)="addAlucobondAccessory()">
                    <mat-icon>add</mat-icon>
                    Add item
                  </button>
                </div>
  
              </div>
  
  
            </div>
  
            <mat-divider></mat-divider>
            <span class="mat-title">Structure status</span>
  
            <div fxLayoutAlign.gt-xs="space-between" fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutGap="20px">
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Condition</mat-label>
                <mat-select formControlName="condition">
                  <mat-option value="excellent">Excellent</mat-option>
                  <mat-option value="good">Good</mat-option>
                  <mat-option value="repairable">Repairable</mat-option>
                  <mat-option value="obsolete">Obsolete</mat-option>
                </mat-select>
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="240px">
                <mat-label>Cost of repair</mat-label>
                <input matInput formControlName="costOfRepair">
                <sup matPrefix>&#8358;</sup>
                <span matSuffix>.00</span>
              </mat-form-field>
            </div>
  
          <div fxLayout="row">
            <button mat-flat-button color="primary" matStepperPrevious>
              <mat-icon>chevron_left</mat-icon>
              Previous
            </button>
            <span fxFlex="1 1 auto"></span>
            <button mat-flat-button color="primary" matStepperNext>
              Next
              <mat-icon>chevron_right</mat-icon>
            </button>
          </div>
  
        </div>

    </mat-step>
  
    <!-- Walls -->
    <mat-step label="Walls & Windows" formGroupName="walls" [stepControl]="buildingForm.controls.walls">
  
        <div fxLayout="column">
  
          <span class="mat-title">Walls & Windows</span>
  
          <div fxLayout.xs="column" fxLayoutAlign.gt-xs="space-between" fxLayout.gt-xs="row wrap" fxLayoutAlign.gt-xs="space-between" fxLayoutGap="10px">
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Wall type</mat-label>
              <mat-select formControlName="wallType">
                <mat-option value="concrete wall">
                  Concrete wall
                </mat-option>
                <mat-option value="150mm">
                  150mm block wall
                </mat-option>
                <mat-option value="225mm">
                  225mm block wall
                </mat-option>
                <mat-option value="other">
                  other
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex="120px">
              <mat-label>Quantity</mat-label>
              <input type="text" matInput formControlName="quantity">
              <span matSuffix>m<sup>3</sup></span>
            </mat-form-field>
  
            <mat-form-field fxFlex="100px">
              <mat-label>Year last decorated</mat-label>
              <input type="text" matInput formControlName="lastDecorated">
            </mat-form-field>
  
            <mat-form-field>
              <mat-label>Has stains?</mat-label>
              <mat-select formControlName="hasStain">
                <mat-option value=true>
                  Yes
                </mat-option>
                <mat-option value=false>
                  No
                </mat-option>
              </mat-select>
            </mat-form-field>
  
          </div>
  
          <!-- Concrete walls -->
          <mat-divider></mat-divider>
          <span class="mat-title">Concrete wall</span>
          <!--(show when selected type is concrete wall)-->
  
  
          <div formGroupName="concreteWall" fxLayoutAlign.gt-xs="space-between" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>condition</mat-label>
              <mat-select formControlName="condition">
                <mat-option value="excellent">
                  Excellent
                </mat-option>
                <mat-option value="good">
                  Good
                </mat-option>
                <mat-option value="fair">
                  Fair
                </mat-option>
                <mat-option value="poor">
                  Poor
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Quantity</mat-label>
              <input type="text" matInput formControlName="quantity">
              <span matSuffix>m<sup>2</sup></span>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="240px">
              <mat-label>Cost of repair</mat-label>
              <input type="text" matInput formControlName="costOfRepair">
              <span matPrefix>&#8358;</span>
            </mat-form-field>
  
          </div>
  
          <!-- Paint -->
          <mat-divider></mat-divider>
          <span class="mat-title">Paint</span>
  
  
          <div formGroupName="paint" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>condition</mat-label>
              <mat-select formControlName="condition">
                <mat-option value="excellent">
                  Excellent
                </mat-option>
                <mat-option value="good">
                  Good
                </mat-option>
                <mat-option value="fair">
                  Fair
                </mat-option>
                <mat-option value="poor">
                  Poor
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Quantity</mat-label>
              <input type="text" matInput formControlName="quantity">
              <span matSuffix>m<sup>2</sup></span>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="240px">
              <mat-label>Cost of repair</mat-label>
              <input type="text" matInput formControlName="costOfRepair">
              <span matPrefix>&#8358;</span>
            </mat-form-field>
  
          </div>
  
          <!-- Mortar -->
          <mat-divider></mat-divider>
          <span class="mat-title">Mortar</span>
  
  
          <div formGroupName="mortar" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>condition</mat-label>
              <mat-select formControlName="condition">
                <mat-option value="excellent">
                  Excellent
                </mat-option>
                <mat-option value="good">
                  Good
                </mat-option>
                <mat-option value="fair">
                  Fair
                </mat-option>
                <mat-option value="poor">
                  Poor
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Quantity</mat-label>
              <input type="text" matInput formControlName="quantity">
              <span matSuffix>m<sup>2</sup></span>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="240px">
              <mat-label>Cost of repair</mat-label>
              <input type="text" matInput formControlName="costOfRepair">
              <span matPrefix>&#8358;</span>
            </mat-form-field>
  
          </div>
  
          <!-- Structure -->
          <mat-divider></mat-divider>
          <span class="mat-title">Structure</span>
  
  
          <div formGroupName="structure" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>structure type</mat-label>
              <mat-select formControlName="type">
                <mat-option value="frame structure">
                  Frame structure
                </mat-option>
                <mat-option value="load bearing">
                  Load bearing
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Quantity</mat-label>
              <input type="text" matInput formControlName="quantity">
              <span matSuffix>m<sup>2</sup></span>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Damage</mat-label>
              <mat-select formControlName="damage">
                <mat-option value=25>
                  25%
                </mat-option>
                <mat-option value=50>
                  50%
                </mat-option>
                <mat-option value=75>
                  75%
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Condition</mat-label>
              <mat-select formControlName="condition">
                <mat-option value="excellent">
                  Excellent
                </mat-option>
                <mat-option value="good">
                  Good
                </mat-option>
                <mat-option value="fair">
                  Fair
                </mat-option>
                <mat-option value="poor">
                  Poor
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="240px">
              <mat-label>Cost of repair</mat-label>
              <input type="text" matInput formControlName="costOfRepair">
              <span matPrefix>&#8358;</span>
            </mat-form-field>
  
          </div>
  
          <!-- Trimming -->
          <mat-divider></mat-divider>
          <span class="mat-title">Trimming</span>
  
          <div formGroupName="trimming" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Quantity</mat-label>
              <input type="text" matInput formControlName="quantity">
              <span matSuffix>m<sup>2</sup></span>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Finishes</mat-label>
              <input type="text" matInput formControlName="finishes">
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Condition</mat-label>
              <mat-select formControlName="condition">
                <mat-option value="excellent">
                  Excellent
                </mat-option>
                <mat-option value="good">
                  Good
                </mat-option>
                <mat-option value="fair">
                  Fair
                </mat-option>
                <mat-option value="poor">
                  Poor
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="240px">
              <mat-label>Cost of repair</mat-label>
              <input type="text" matInput formControlName="costOfRepair">
              <span matPrefix>&#8358;</span>
            </mat-form-field>
  
          </div>
  
          <!-- Frame -->
          <mat-divider></mat-divider>
          <span class="mat-title">Frame</span>
  
          <div formGroupName="frame" fxLayout.xs="column" fxLayoutAlign.gt-xs="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Concrete work</mat-label>
              <input type="text" matInput formControlName="concreteWork">
              <span matSuffix>m<sup>3</sup></span>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Finishes</mat-label>
              <input type="text" matInput formControlName="finishes">
              <span matSuffix>m<sup>2</sup></span>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Form work</mat-label>
              <input type="text" matInput formControlName="formWork">
              <span matSuffix>m<sup>2</sup></span>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Quantity</mat-label>
              <input type="text" matInput formControlName="quantity">
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Reinforcement</mat-label>
              <input type="text" matInput formControlName="reinforcement">
              <span matSuffix>kg</span>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Damage</mat-label>
              <mat-select formControlName="damage">
                <mat-option value="25%">
                  25%
                </mat-option>
                <mat-option value="50%">
                  50%
                </mat-option>
                <mat-option value="75%">
                  75%
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="240px">
              <mat-label>Cost of repair</mat-label>
              <input type="text" matInput formControlName="costOfRepair">
              <span matPrefix>&#8358;</span>
            </mat-form-field>
  
            <span fxFlex.gt-x></span>
  
          </div>
  
          <!-- Facade -->
          <mat-divider></mat-divider>
          <span class="mat-title">Facade</span>
  
  
          <div formGroupName="facade" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Concrete work</mat-label>
              <input type="text" matInput formControlName="concreteWork">
              <span matSuffix>m<sup>3</sup></span>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Finishes</mat-label>
              <input type="text" matInput formControlName="finishes">
              <span matSuffix>m<sup>2</sup></span>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Form work</mat-label>
              <input type="text" matInput formControlName="formWork">
              <span matSuffix>m<sup>2</sup></span>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Type</mat-label>
              <input type="text" matInput formControlName="type">
            </mat-form-field>
  
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Quantity</mat-label>
              <input type="text" matInput formControlName="quantity">
              <span matSuffix>m<sup>2</sup></span>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Damage</mat-label>
              <mat-select formControlName="damage">
                <mat-option value=25>
                  25%
                </mat-option>
                <mat-option value=50>
                  50%
                </mat-option>
                <mat-option value=75>
                  75%
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="240px">
              <mat-label>Cost of repair</mat-label>
              <input type="text" matInput formControlName="costOfRepair">
              <span matPrefix>&#8358;</span>
            </mat-form-field>
  
          </div>
  
          <!-- Corridors -->
          <mat-divider></mat-divider>
          <span class="mat-title">Corridors</span>
  
  
          <div formGroupName="corridors" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Quantity</mat-label>
              <input type="text" matInput formControlName="quantity">
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Type</mat-label>
              <input type="text" matInput formControlName="type">
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>condition</mat-label>
              <mat-select formControlName="condition">
                <mat-option value="excellent">
                  Excellent
                </mat-option>
                <mat-option value="good">
                  Good
                </mat-option>
                <mat-option value="fair">
                  Fair
                </mat-option>
                <mat-option value="poor">
                  Poor
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="240px">
              <mat-label>Cost of repair</mat-label>
              <input type="text" matInput formControlName="costOfRepair">
              <span matPrefix>&#8358;</span>
            </mat-form-field>
  
          </div>
  
          <!-- Interior walls-->
          <mat-divider></mat-divider>
          <span class="mat-title">Interior walls</span>
  
  
          <div formGroupName="interiorWall" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Finishing</mat-label>
              <mat-select formControlName="finishing">
                <mat-option value="metal">
                  Metal
                </mat-option>
                <mat-option value="wood">
                  Wood
                </mat-option>
                <mat-option value="sheetrock">
                  Sheetrock
                </mat-option>
                <mat-option value="plaster">
                  Plaster
                </mat-option>
                <mat-option value="concrete">
                  Concrete
                </mat-option>
                <mat-option value="brick">
                  Brick
                </mat-option>
                <mat-option value="paneling">
                  Paneling
                </mat-option>
                <mat-option value="other">
                  Other
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Size</mat-label>
              <input type="text" matInput formControlName="size">
              <span matSuffix>m<sup>2</sup></span>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Type</mat-label>
              <input type="text" matInput formControlName="type">
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Accessories</mat-label>
              <input type="text" matInput formControlName="accessories">
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Quantity</mat-label>
              <input type="text" matInput formControlName="quantity">
              <span matSuffix>m<sup>2</sup></span>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>condition</mat-label>
              <mat-select formControlName="condition">
                <mat-option value="excellent">
                  Excellent
                </mat-option>
                <mat-option value="good">
                  Good
                </mat-option>
                <mat-option value="fair">
                  Fair
                </mat-option>
                <mat-option value="poor">
                  Poor
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="240px">
              <mat-label>Cost of repair</mat-label>
              <input type="text" matInput formControlName="costOfRepair">
              <span matPrefix>&#8358;</span>
            </mat-form-field>
          </div>
  
          <!-- Windows -->
          <mat-divider></mat-divider>
          <span class="mat-title">Windows</span>
  
  
          <div formGroupName="windows" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Material</mat-label>
              <mat-select form formControlName="material">
                <mat-option value="wire_and_glass">
                  Wire and glass
                </mat-option>
                <mat-option value="glass block">
                  Glass block
                </mat-option>
                <mat-option value="Plate">
                  Plate
                </mat-option>
                <mat-option value="tempered">
                  Tempered
                </mat-option>
                <mat-option value="operating">
                  Operating
                </mat-option>
                <mat-option value="fixed">
                  Fixed
                </mat-option>
                <mat-option value="other">
                  Other
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Size</mat-label>
              <input type="text" matInput formControlName="size">
              <span matSuffix>m<sup>2</sup></span>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Type</mat-label>
              <input type="text" matInput formControlName="type">
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Quantity</mat-label>
              <input type="text" matInput formControlName="quantity">
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Condition</mat-label>
              <mat-select formControlName="condition">
                <mat-option value="excellent">
                  Excellent
                </mat-option>
                <mat-option value="good">
                  Good
                </mat-option>
                <mat-option value="fair">
                  Fair
                </mat-option>
                <mat-option value="poor">
                  Poor
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="240px">
              <mat-label>Cost of repair</mat-label>
              <input type="text" matInput formControlName="costOfRepair">
              <span matPrefix>&#8358;</span>
            </mat-form-field>
  
          </div>
  
          <div fxLayout="row">
            <button mat-flat-button color="primary" matStepperPrevious>
              <mat-icon>chevron_left</mat-icon>
              Previous
            </button>
            <span fxFlex="1 1 auto"></span>
            <button mat-flat-button color="primary" matStepperNext>
              Next
              <mat-icon>chevron_right</mat-icon>
            </button>
          </div>
  
        </div>

    </mat-step>
  
    <!-- Floor -->
    <mat-step label="Floor" formGroupName="floor" [stepControl]="buildingForm.controls.floor">
      
        <div fxLayout="column" fxLayoutGap="20px">
  
          <!-- Joints and beams -->
          <span class="mat-title">Joints & Beams</span>
  
          <div formGroupName="jointsAndBeams" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Concrete work</mat-label>
              <input type="text" matInput formControlName="concreteWork">
              <span matSuffix>m<sup>3</sup></span>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Finishes</mat-label>
              <input type="text" matInput formControlName="finishes">
              <span matSuffix>m<sup>2</sup></span>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Form work</mat-label>
              <input type="text" matInput formControlName="formWork">
              <span matSuffix>m<sup>2</sup></span>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Quantity</mat-label>
              <input type="text" matInput formControlName="quantity">
              <span matSuffix>m<sup>2</sup></span>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Damage</mat-label>
              <mat-select formControlName="damage">
                <mat-option value="25">
                  25%
                </mat-option>
                <mat-option value="50">
                  50%
                </mat-option>
                <mat-option value="75%">
                  75%
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="240px">
              <mat-label>Cost of repair</mat-label>
              <input type="text" matInput formControlName="costOfRepair">
              <span matPrefix>&#8358;</span>
            </mat-form-field>
  
          </div>
  
          <!-- Slabs -->
          <mat-divider></mat-divider>
          <span class="mat-title">Slabs</span>
  
          <div formGroupName="slabs" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Concrete work</mat-label>
              <input type="text" matInput formControlName="concreteWork">
              <span matSuffix>m<sup>3</sup></span>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Finishes</mat-label>
              <input type="text" matInput formControlName="finishes">
              <span matSuffix>m<sup>2</sup></span>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Form work</mat-label>
              <input type="text" matInput formControlName="formWork">
              <span matSuffix>m<sup>2</sup></span>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Quantity</mat-label>
              <input type="text" matInput formControlName="quantity">
              <span matSuffix>m<sup>3</sup></span>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Reinforcement</mat-label>
              <input type="text" matInput formControlName="reinforcement">
              <span matSuffix>kg</span>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Damage</mat-label>
              <mat-select formControlName="damage">
                <mat-option value="25">
                  25%
                </mat-option>
                <mat-option value="50">
                  50%
                </mat-option>
                <mat-option value="75%">
                  75%
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="250px">
              <mat-label>Cost of repair</mat-label>
              <input type="text" matInput formControlName="costOfRepair">
              <span matPrefix>&#8358;</span>
            </mat-form-field>
  
          </div>
  
          <!-- Foundation -->
          <mat-divider></mat-divider>
          <span class="mat-title">Foundation</span>
  
          <div formGroupName="foundation" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Type</mat-label>
              <mat-select matInput formControlName="type">
                <mat-option value="basement foundation">Basement foundation</mat-option>
                <mat-option value="crawlspace stem walls foundation">Crawlspace stem walls foundation</mat-option>
                <mat-option value="concrete slab foundation">Concrete slab foundation</mat-option>
                <mat-option value="wood foundation">Basement foundation</mat-option>
                <mat-option value="pier and beam foundation">Pier and beam foundation</mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Depth</mat-label>
              <input type="text" matInput formControlName="depth">
              <span matSuffix>m</span>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Filling</mat-label>
              <input type="text" matInput formControlName="filling">
              <span matSuffix>m<sup>3</sup></span>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Excavation</mat-label>
              <input type="text" matInput formControlName="excavation">
              <span matSuffix>m<sup>3</sup></span>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Concrete work</mat-label>
              <input type="text" matInput formControlName="concreteWork">
              <span matSuffix>m<sup>3</sup></span>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Block work</mat-label>
              <input type="text" matInput formControlName="blockWork">
              <span matSuffix>m<sup>2</sup></span>
            </mat-form-field>
  
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Form work</mat-label>
              <input type="text" matInput formControlName="formWork">
              <span matSuffix>m<sup>2</sup></span>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Reinforcement</mat-label>
              <input type="text" matInput formControlName="reinforcement">
              <span matSuffix>kg</span>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Rendering</mat-label>
              <input type="text" matInput formControlName="rendering">
              <span matSuffix>m<sup>2</sup></span>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Damp proof membrane</mat-label>
              <input type="text" matInput formControlName="dpm">
              <span matSuffix>m<sup>2</sup></span>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Damage</mat-label>
              <mat-select formControlName="damage">
                <mat-option value="25">
                  25%
                </mat-option>
                <mat-option value="50">
                  50%
                </mat-option>
                <mat-option value="75%">
                  75%
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="240px">
              <mat-label>Cost of repair</mat-label>
              <input type="text" matInput formControlName="costOfRepair">
              <span matPrefix>&#8358;</span>
            </mat-form-field>
  
          </div>
  
          <!-- Floor structure -->
          <mat-divider></mat-divider>
          <span class="mat-title">Floor structure</span>
  
          <div formGroupName="floorStructure" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Material</mat-label>
              <mat-select formControlName="material">
                <mat-option value="metal">
                  Metal
                </mat-option>
                <mat-option value="wood">
                  Wood
                </mat-option>
                <mat-option value="concrete">
                  Concrete
                </mat-option>
                <mat-option value="other">
                  Other
                </mat-option>
              </mat-select>
            </mat-form-field>
  
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Size</mat-label>
              <input type="text" matInput formControlName="size">
              <span matSuffix>m<sup>2</sup></span>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Type</mat-label>
              <input type="text" matInput formControlName="type">
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120x">
              <mat-label>Accessories</mat-label>
              <input type="text" matInput formControlName="accessories">
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Quantity</mat-label>
              <input type="text" matInput formControlName="quantity">
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Condition</mat-label>
              <mat-select formControlName="condition">
                <mat-option value="excellent">
                  Excellent
                </mat-option>
                <mat-option value="good">
                  Good
                </mat-option>
                <mat-option value="fair">
                  Fair
                </mat-option>
                <mat-option value="poor">
                  Poor
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="240px">
              <mat-label>Cost of repair</mat-label>
              <input type="text" matInput formControlName="costOfRepair">
              <span matPrefix>&#8358;</span>
            </mat-form-field>
  
          </div>
  
          <!-- Floor covering -->
          <mat-divider></mat-divider>
          <span class="mat-title">Floor covering</span>
  
          <div formGroupName="floorCovering" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Material</mat-label>
              <mat-select formControlName="material">
                <mat-option value="metal">
                  Metal
                </mat-option>
                <mat-option value="wood">
                  Wood
                </mat-option>
                <mat-option value="concrete">
                  Concrete
                </mat-option>
                <mat-option value="other">
                  Other
                </mat-option>
              </mat-select>
            </mat-form-field>
  
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Size</mat-label>
              <input type="text" matInput formControlName="size">
              <span matSuffix>m<sup>2</sup></span>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Type</mat-label>
              <input type="text" matInput formControlName="type">
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Accessories</mat-label>
              <input type="text" matInput formControlName="accessories">
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Quantity</mat-label>
              <input type="text" matInput formControlName="quantity">
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Condition</mat-label>
              <mat-select formControlName="condition">
                <mat-option value="excellent">
                  Excellent
                </mat-option>
                <mat-option value="good">
                  Good
                </mat-option>
                <mat-option value="fair">
                  Fair
                </mat-option>
                <mat-option value="poor">
                  Poor
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Cost of repair</mat-label>
              <input type="text" matInput formControlName="costOfRepair">
              <span matPrefix>&#8358;</span>
            </mat-form-field>
  
            <span fxFlex.gt-xs></span>
  
          </div>
  
          <div fxLayout="row">
            <button mat-flat-button color="primary" matStepperPrevious>
              <mat-icon>chevron_left</mat-icon>
              Previous
            </button>
            <span fxFlex="1 1 auto"></span>
            <button mat-flat-button color="primary" matStepperNext>
              Next
              <mat-icon>chevron_right</mat-icon>
            </button>
          </div>
  
        </div>

    </mat-step>
  
    <!-- Roof and ceiling -->
    <mat-step label="Roof & Ceiling" formGroupName="roof" [stepControl]="buildingForm.controls.roof">
      
        <div fxLayout="column" fxLayoutGap="20px">
  
          <!-- Basic roof information -->
          <span class="mat-title">Basic roof information</span>
  
          <div fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Roof style</mat-label>
              <mat-select formControlName="style">
                <mat-option value="flat">
                  Flat
                </mat-option>
                <mat-option value="pitched">
                  Pitched
                </mat-option>
                <mat-option value="arched">
                  Arched
                </mat-option>
                <mat-option value="butterfly">
                  Butterfly
                </mat-option>
                <mat-option value="hip">
                  Hip
                </mat-option>
                <mat-option value="gambrel">
                  Gambrel
                </mat-option>
                <mat-option value="mansard">
                  Mansard
                </mat-option>
                <mat-option value="monitor">
                  Monitor
                </mat-option>
                <mat-option value="shed">
                  Shed
                </mat-option>
                <mat-option value="dome">
                  Dome
                </mat-option>
                <mat-option value="gable">
                  Gamle
                </mat-option>
                <mat-option value="other">
                  Other
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Size</mat-label>
              <input type="text" matInput formControlName="size">
              <span matSuffix>m<sup>2</sup></span>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Damage</mat-label>
              <mat-select formControlName="damage">
                <mat-option value="25">
                  25%
                </mat-option>
                <mat-option value="50">
                  50%
                </mat-option>
                <mat-option value="75">
                  75%
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>condition</mat-label>
              <mat-select formControlName="condition">
                <mat-option value="excellent">
                  Excellent
                </mat-option>
                <mat-option value="good">
                  Good
                </mat-option>
                <mat-option value="fair">
                  Fair
                </mat-option>
                <mat-option value="poor">
                  Poor
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="240px">
              <mat-label>Cost of repair</mat-label>
              <input type="text" matInput formControlName="costOfRepair">
              <span matPrefix>&#8358;</span>
            </mat-form-field>
  
          </div>
  
          <!-- Roof support -->
          <mat-divider></mat-divider>
          <span class="mat-title">Roof support</span>
  
          <div formGroupName="support" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Support type</mat-label>
              <mat-select formControlName="type">
                <mat-option value="joist">
                  Joist
                </mat-option>
                <mat-option value="truss">
                  Truss
                </mat-option>
                <mat-option value="ridge frame">
                  Ridge frame
                </mat-option>
                <mat-option value="arch">
                  Arch
                </mat-option>
                <mat-option value="dome">
                  Dome
                </mat-option>
                <mat-option value="cable">
                  Cable
                </mat-option>
                <mat-option value="other">
                  Other
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Size</mat-label>
              <input type="text" matInput formControlName="size">
              <span matSuffix>m</span>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>quantity</mat-label>
              <input type="text" matInput formControlName="quantity">
              <span matSuffix>m</span>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Damage</mat-label>
              <mat-select formControlName="damage">
                <mat-option value="25">
                  25%
                </mat-option>
                <mat-option value="50">
                  50%
                </mat-option>
                <mat-option value="75">
                  75%
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>condition</mat-label>
              <mat-select formControlName="condition">
                <mat-option value="excellent">
                  Excellent
                </mat-option>
                <mat-option value="good">
                  Good
                </mat-option>
                <mat-option value="fair">
                  Fair
                </mat-option>
                <mat-option value="poor">
                  Poor
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="240px">
              <mat-label>Cost of repair</mat-label>
              <input type="text" matInput formControlName="costOfRepair">
              <span matPrefix>&#8358;</span>
            </mat-form-field>
  
            <span fxFlex.gt-xs></span>
  
          </div>
  
          <!-- Roof steel struss -->
          <mat-divider></mat-divider>
          <span class="mat-title">Roof steel struss</span>
  
          <div formGroupName="steelTruss" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Type</mat-label>
              <mat-select formControlName="type">
                <mat-option value="joist">
                  Joist
                </mat-option>
                <mat-option value="truss">
                  Truss
                </mat-option>
                <mat-option value="z purlins">
                  Z-purlins
                </mat-option>
                <mat-option value="cleats">
                  Cleats
                </mat-option>
                <mat-option value="bolts">
                  Bolts
                </mat-option>
                <mat-option value="cables">
                  Cables
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Size</mat-label>
              <input type="text" matInput formControlName="size">
              <span matSuffix>kg</span>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Quantity</mat-label>
              <input type="text" matInput formControlName="quantity">
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Damage</mat-label>
              <mat-select formControlName="damage">
                <mat-option value="25">
                  25%
                </mat-option>
                <mat-option value="50">
                  50%
                </mat-option>
                <mat-option value="75">
                  75%
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>condition</mat-label>
              <mat-select formControlName="condition">
                <mat-option value="excellent">
                  Excellent
                </mat-option>
                <mat-option value="good">
                  Good
                </mat-option>
                <mat-option value="fair">
                  Fair
                </mat-option>
                <mat-option value="poor">
                  Poor
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="240px">
              <mat-label>Cost of repair</mat-label>
              <input type="text" matInput formControlName="costOfRepair">
              <span matPrefix>&#8358;</span>
            </mat-form-field>
  
          </div>
  
          <!-- Roof decking -->
          <mat-divider></mat-divider>
          <span class="mat-title">Roof decking</span>
  
          <div formGroupName="decking" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Type</mat-label>
              <mat-select formControlName="type">
                <mat-option value="metal">
                  Metal
                </mat-option>
                <mat-option value="wood">
                  Wood
                </mat-option>
                <mat-option value="concrete">
                  Concrete
                </mat-option>
                <mat-option value="other">
                  Other
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Size</mat-label>
              <input type="text" matInput formControlName="size">
              <span matSuffix>m<sup>3</sup></span>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Quantity</mat-label>
              <input type="text" matInput formControlName="quantity">
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Damage</mat-label>
              <mat-select formControlName="damage">
                <mat-option value="25">
                  25%
                </mat-option>
                <mat-option value="50">
                  50%
                </mat-option>
                <mat-option value="75">
                  75%
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>condition</mat-label>
              <mat-select formControlName="condition">
                <mat-option value="excellent">
                  Excellent
                </mat-option>
                <mat-option value="good">
                  Good
                </mat-option>
                <mat-option value="fair">
                  Fair
                </mat-option>
                <mat-option value="poor">
                  Poor
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="240px">
              <mat-label>Cost of repair</mat-label>
              <input type="text" matInput formControlName="costOfRepair">
              <span matPrefix>&#8358;</span>
            </mat-form-field>
  
          </div>
  
          <!-- Roof covering -->
          <mat-divider></mat-divider>
          <span class="mat-title">Roof covering</span>
  
          <div formGroupName="covering" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Type</mat-label>
              <mat-select formControlName="type">
                <mat-option value="asbestos">
                  Asbestos
                </mat-option>
                <mat-option value="zinc">
                  Zinc
                </mat-option>
                <mat-option value="aluminium">
                  Aluminum
                </mat-option>
                <mat-option value="stone-coated tiles">
                  Stone coated tiles
                </mat-option>
                <mat-option value="other">
                  Other
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Size</mat-label>
              <input type="text" matInput formControlName="size">
              <span matSuffix>m<sup>2</sup></span>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Quantity</mat-label>
              <input type="text" matInput formControlName="quantity">
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Damage</mat-label>
              <mat-select formControlName="damage">
                <mat-option value="25">
                  25%
                </mat-option>
                <mat-option value="50">
                  50%
                </mat-option>
                <mat-option value="75">
                  75%
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>condition</mat-label>
              <mat-select formControlName="condition">
                <mat-option value="excellent">
                  Excellent
                </mat-option>
                <mat-option value="good">
                  Good
                </mat-option>
                <mat-option value="fair">
                  Fair
                </mat-option>
                <mat-option value="poor">
                  Poor
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="240px">
              <mat-label>Cost of repair</mat-label>
              <input type="text" matInput formControlName="costOfRepair">
              <span matPrefix>&#8358;</span>
            </mat-form-field>
  
            <span fxFlex.gt-xs></span>
          </div>
  
          <!-- Ceiling -->
          <mat-divider></mat-divider>
          <span class="mat-title">Ceiling</span>
  
          <div formGroupName="ceiling" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Ceiling type</mat-label>
              <input type="text" matInput formControlName="type">
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Size</mat-label>
              <input type="text" matInput formControlName="size">
              <span matSuffix>m<sup>2</sup></span>
            </mat-form-field>
  
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Damage</mat-label>
              <mat-select formControlName="damage">
                <mat-option value="25">
                  25%
                </mat-option>
                <mat-option value="50">
                  50%
                </mat-option>
                <mat-option value="75">
                  75%
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="240px">
              <mat-label>Cost of repair</mat-label>
              <input type="text" matInput formControlName="costOfRepair">
              <span matPrefix>&#8358;</span>
            </mat-form-field>
          </div>
  
          <div fxLayout="row">
            <button mat-flat-button color="primary" matStepperPrevious>
              <mat-icon>chevron_left</mat-icon>
              Previous
            </button>
            <span fxFlex="1 1 auto"></span>
            <button mat-flat-button color="primary" matStepperNext>
              Next
              <mat-icon>chevron_right</mat-icon>
            </button>
          </div>
  
        </div>
      
    </mat-step>
  
    <!-- Building services -->
    <mat-step label="Building services" formGroupName="services" [stepControl]="buildingForm.controls.services">
      
        <div fxLayout="column" fxLayoutGap="20px">
  
          <!-- Roof lights -->
          <mat-divider></mat-divider>
          <span class="mat-title">Roof lights</span>
  
          <div formGroupName="roofLights"  fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">
  
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Size</mat-label>
              <input type="text" matInput formControlName="size">
              <span matSuffix>m</span>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Thickness</mat-label>
              <input type="text" matInput formControlName="thickness">
              <span matSuffix>m</span>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Quantity</mat-label>
              <input type="text" matInput formControlName="quantity">
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>condition</mat-label>
              <mat-select formControlName="condition">
                <mat-option value="excellent">
                  Excellent
                </mat-option>
                <mat-option value="good">
                  Good
                </mat-option>
                <mat-option value="fair">
                  Fair
                </mat-option>
                <mat-option value="poor">
                  Poor
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Damage</mat-label>
              <mat-select formControlName="damage">
                <mat-option value="25">
                  25%
                </mat-option>
                <mat-option value="50">
                  50%
                </mat-option>
                <mat-option value="75">
                  75%
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="240px">
              <mat-label>Cost of repair</mat-label>
              <input type="text" matInput formControlName="costOfRepair">
              <span matPrefix>&#8358;</span>
            </mat-form-field>
          </div>
  
          <!-- Air conditioning -->
          <mat-divider></mat-divider>
          <span class="mat-title">Air conditioning</span>
  
          <div formGroupName="airConditioning" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">
  
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Piping length</mat-label>
              <input type="text" matInput formControlName="pipingLength">
              <span matSuffix>m</span>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Quantity</mat-label>
              <input type="text" matInput formControlName="quantity">
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>condition</mat-label>
              <mat-select formControlName="condition">
                <mat-option value="excellent">
                  Excellent
                </mat-option>
                <mat-option value="good">
                  Good
                </mat-option>
                <mat-option value="fair">
                  Fair
                </mat-option>
                <mat-option value="poor">
                  Poor
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Damage</mat-label>
              <mat-select formControlName="damage">
                <mat-option value="25">
                  25%
                </mat-option>
                <mat-option value="50">
                  50%
                </mat-option>
                <mat-option value="75">
                  75%
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="240px">
              <mat-label>Cost of repair</mat-label>
              <input type="text" matInput formControlName="costOfRepair">
              <span matPrefix>&#8358;</span>
            </mat-form-field>
          </div>
  
          <!-- Roof covering -->
          <mat-divider></mat-divider>
          <span class="mat-title">Roof covering</span>
  
          <div formGroupName="roofCovering" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">
  
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Height</mat-label>
              <input type="text" matInput formControlName="height">
              <span matSuffix>m</span>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Sloping length</mat-label>
              <input type="text" matInput formControlName="slopingLength">
              <span matSuffix>m</span>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Quantity</mat-label>
              <input type="text" matInput formControlName="quantity">
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>condition</mat-label>
              <mat-select formControlName="condition">
                <mat-option value="excellent">
                  Excellent
                </mat-option>
                <mat-option value="good">
                  Good
                </mat-option>
                <mat-option value="fair">
                  Fair
                </mat-option>
                <mat-option value="poor">
                  Poor
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Damage</mat-label>
              <mat-select formControlName="damage">
                <mat-option value="25">
                  25%
                </mat-option>
                <mat-option value="50">
                  50%
                </mat-option>
                <mat-option value="75">
                  75%
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="240px">
              <mat-label>Cost of repair</mat-label>
              <input type="text" matInput formControlName="costOfRepair">
              <span matPrefix>&#8358;</span>
            </mat-form-field>
  
          </div>
  
          <!-- Burglar proof -->
          <mat-divider></mat-divider>
          <span class="mat-title">Burglar proof</span>
  
          <div formGroupName="burglarProof" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">
  
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Type</mat-label>
              <input type="text" matInput formControlName="type">
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Quantity</mat-label>
              <input type="text" matInput formControlName="quantity">
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Location</mat-label>
              <input type="text" matInput formControlName="location">
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>condition</mat-label>
              <mat-select formControlName="condition">
                <mat-option value="excellent">
                  Excellent
                </mat-option>
                <mat-option value="good">
                  Good
                </mat-option>
                <mat-option value="fair">
                  Fair
                </mat-option>
                <mat-option value="poor">
                  Poor
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Damage</mat-label>
              <mat-select formControlName="damage">
                <mat-option value="25">
                  25%
                </mat-option>
                <mat-option value="50">
                  50%
                </mat-option>
                <mat-option value="75">
                  75%
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Cost of repair</mat-label>
              <input type="text" matInput formControlName="costOfRepair">
              <span matPrefix>&#8358;</span>
            </mat-form-field>
          </div>
  
          <!-- Gates -->
          <mat-divider></mat-divider>
          <span class="mat-title">Gates</span>
  
          <div formGroupName="gates" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">
  
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Quantity</mat-label>
              <input type="text" matInput formControlName="quantity">
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>condition</mat-label>
              <mat-select formControlName="condition">
                <mat-option value="excellent">
                  Excellent
                </mat-option>
                <mat-option value="good">
                  Good
                </mat-option>
                <mat-option value="fair">
                  Fair
                </mat-option>
                <mat-option value="poor">
                  Poor
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="240px">
              <mat-label>Cost of repair</mat-label>
              <input type="text" matInput formControlName="costOfRepair">
              <span matPrefix>&#8358;</span>
            </mat-form-field>
  
          </div>
  
          <!-- Drainage -->
          <mat-divider></mat-divider>
          <span class="mat-title">Air conditioning</span>
  
          <div formGroupName="drainage" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Quantity</mat-label>
              <input type="text" matInput formControlName="quantity">
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>condition</mat-label>
              <mat-select formControlName="condition">
                <mat-option value="excellent">
                  Excellent
                </mat-option>
                <mat-option value="good">
                  Good
                </mat-option>
                <mat-option value="fair">
                  Fair
                </mat-option>
                <mat-option value="poor">
                  Poor
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="240px">
              <mat-label>Cost of repair</mat-label>
              <input type="text" matInput formControlName="costOfRepair">
              <span matPrefix>&#8358;</span>
            </mat-form-field>
  
            <span fxFlex.gt-xs></span>
          </div>
  
          <!-- Distribution -->
          <mat-divider></mat-divider>
          <span class="mat-title">Distribution</span>
  
          <div formGroupName="distribution" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">
  
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Quantity</mat-label>
              <input type="text" matInput formControlName="quantity">
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>condition</mat-label>
              <mat-select formControlName="condition">
                <mat-option value="excellent">
                  Excellent
                </mat-option>
                <mat-option value="good">
                  Good
                </mat-option>
                <mat-option value="fair">
                  Fair
                </mat-option>
                <mat-option value="poor">
                  Poor
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field fxFlex.gt-xs="240px">
              <mat-label>Cost of repair</mat-label>
              <input type="text" matInput formControlName="costOfRepair">
              <span matPrefix>&#8358;</span>
            </mat-form-field>
  
            <span fxFlex.gt-xs></span>
          </div>
  
          <div fxLayout="row">
            <button mat-flat-button color="primary" matStepperPrevious>
              <mat-icon>chevron_left</mat-icon>
              Previous
            </button>
            <span fxFlex="1 1 auto"></span>
            <button mat-flat-button color="primary" matStepperNext>
              Next
              <mat-icon>chevron_right</mat-icon>
            </button>
          </div>
  
        </div>
      
    </mat-step>
  
    <!-- Elevator -->
    <mat-step label="Others">
      
        <div fxLayout="column" fxLayoutGap="20px">
  
          <div fxLayout="row">
            <span fxFlex="1 1 auto"></span>
            <button mat-flat-button color="primary" *ngIf="!hasElevator" (click)="addElevator()">
              <mat-icon>add</mat-icon>
              Add elevator
            </button>
  
            <button mat-flat-button color="warn" *ngIf="hasElevator" (click)="removeElevator()">
              <mat-icon>cancel</mat-icon>
              Remove elevator
            </button>
          </div>
  
          <span class="mat-title" *ngIf="hasElevator">Elevators</span>
          <mat-divider *ngIf="hasElevator"></mat-divider>
          <div formGroupName="elevator" fxLayout="column" *ngIf="hasElevator">
  
            <span class="mat-title">Number of elevators</span>
            <div formGroupName="count" fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutGap="10px" *ngIf="hasElevator">
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Passenger elevators</mat-label>
                <input type="text" matInput formControlName="passenger">
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Freight elevators</mat-label>
                <input type="text" matInput formControlName="freight">
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>Fire service elevators</mat-label>
                <input type="text" matInput formControlName="fireService">
              </mat-form-field>
  
            </div>
  
            <div fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutGap="20px grid">
  
              <mat-form-field fxFlex.gt-xs="240px">
                <mat-label>Elevator brand</mat-label>
                <input matInput formControlName="brandName">
              </mat-form-field>
  
              <mat-form-field fxFlex.gt-xs="240px">
                <mat-label>Service company</mat-label>
                <input matInput formControlName="serviceCompany">
              </mat-form-field>
  
            </div>
  
          </div>
  
          <div fxLayout="row">
            <button mat-flat-button color="primary" matStepperPrevious>
              <mat-icon>chevron_left</mat-icon>
              Previous
            </button>
            <span fxFlex="1 1 auto"></span>
            <button mat-flat-button color="primary" (click)="submit()">
              Complete
            </button>
          </div>
  
        </div>

    </mat-step>
  
  </mat-horizontal-stepper>
  
 
</mat-dialog-content>

<div mat-dialog-actions align="end" *ngIf="error">
  <span color="warn" class="mat-h4">Unable to complete action</span>
</div>