<h2 mat-dialog-title>
  Add building
  <span fxFlex="1 1 auto">
  
  </span>

  <button mat-stroked-button (click)="resetForm()">Reset form</button> 
  <button mat-icon-button aria-label="close dialog" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</h2>

<mat-dialog-content [formGroup]="buildingForm">

  <mat-horizontal-stepper labelPosition="bottom" #stepper linear>
    

    <mat-step label="Basic data">
      
      <div fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutGap="10px">

        <mat-form-field appearance="outline" fxFlex.gt-xs="58%">
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex.gt-xs="20%">
          <mat-label>Code</mat-label>
          <input matInput type="text" formControlName="code">
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex.gt-xs="20%">
          <mat-label>Year built</mat-label>
          <input matInput type="text" formControlName="year_built">
        </mat-form-field>

        <div formGroupName="position" fxFlex.gt-xs="1 1 auto" fxLayoutGap="10px grid" fxLayout.xs="column" fxLayout.gt-xs="row wrap">

          <mat-form-field appearance="outline" fxFlex.gt-xs="50%">
            <mat-label>position</mat-label>
            <input matInput type="text" formControlName="longitude">
            <span matSuffix>Longitude</span>
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex.gt-xs="50%">
            <mat-label>position</mat-label>
            <input matInput type="text" formControlName="latitude">
            <span matSuffix>Latitude</span>
          </mat-form-field>

        </div>

          <mat-form-field appearance="outline" fxFlex.gt-xs="200px">
            <mat-label>Purpose</mat-label>
            <input matInput type="text" formControlName="purpose">
          </mat-form-field>

          <mat-form-field appearance="outline" fxFlex.gt-xs="100%">
            <mat-label>Comment</mat-label>
            <input matInput type="text" formControlName="comment">
          </mat-form-field>

       

      </div>
    </mat-step>

    <mat-step label="Structure">
      
    </mat-step>

    
  
  </mat-horizontal-stepper>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-flat-button color="primary">
    <mat-icon>add</mat-icon>
    Add building
  </button>
</mat-dialog-actions>