<h2 mat-dialog-title>
  Add building
  <span fxFlex="1 1 auto">
  
  </span>

  <button mat-stroked-button (click)="resetForm()">Reset form</button> 
  <button mat-icon-button aria-label="close dialog" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</h2>

<mat-dialog-content [formGroup]="buildingForm">

  <mat-horizontal-stepper labelPosition="bottom" #stepper linear>
    

    <mat-step label="Basic data" [formGroup]="buildingForm.controls.structure">

      <div fxLayout="column">

        <span class="mat-title">Building information</span>
      
        <div fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutAlign.gt-xs="space-between" fxLayoutGap="10px">

          <mat-form-field appearance={{appearance}} fxFlex.gt-xs="58%">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name">
          </mat-form-field>

          <mat-form-field appearance={{appearance}} fxFlex.gt-xs="20%">
            <mat-label>Code</mat-label>
            <input matInput type="text" formControlName="code">
          </mat-form-field>

          <mat-form-field appearance={{appearance}} fxFlex.gt-xs="20%">
            <mat-label>Year built</mat-label>
            <input matInput type="text" formControlName="year_built">
          </mat-form-field>

          <div formGroupName="position" fxFlex.gt-xs="1 1 auto" fxLayoutGap="10px grid" fxLayout.xs="column" fxLayout.gt-xs="row wrap">

            <mat-form-field appearance={{appearance}} fxFlex.gt-xs="50%">
              <mat-label>position</mat-label>
              <input matInput type="text" formControlName="longitude">
              <span matSuffix>Longitude</span>
            </mat-form-field>

            <mat-form-field appearance={{appearance}} fxFlex.gt-xs="50%">
              <mat-label>position</mat-label>
              <input matInput type="text" formControlName="latitude">
              <span matSuffix>Latitude</span>
            </mat-form-field>

          </div>

          <mat-form-field appearance={{appearance}} fxFlex.gt-xs="200px">
            <mat-label>Purpose</mat-label>
            <input matInput type="text" formControlName="purpose">
          </mat-form-field>

          <mat-form-field appearance={{appearance}} fxFlex.gt-xs="100%">
            <mat-label>Comment</mat-label>
            <input matInput type="text" formControlName="comment">
          </mat-form-field>

       
        </div>
        
        <mat-divider></mat-divider>
        <span class="mat-title">Building dimensions</span>
        
        <div formGroupName="dimensions" fxLayout.xs="column" fxLayou.gt-xs="row wrap" fxLayoutGap="10px">

          <mat-form-field appearance={{appearance}} fxFlex.gt-xs="24%">
            <mat-label>floor area</mat-label>
            <input matInput type="text" formControlName="floor_area">
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field appearance={{appearance}} fxFlex.gt-xs="24%">
            <mat-label>wall area</mat-label>
            <input matInput type="text" formControlName="wall_area">
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field appearance={{appearance}} fxFlex.gt-xs="24%">
            <mat-label>ceiling area</mat-label>
            <input matInput type="text" formControlName="ceiling_area">
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field appearance={{appearance}} fxFlex.gt-xs="24%">
            <mat-label>Number of floors</mat-label>
            <input matInput type="text" formControlName="floors">
            <span matSuffix>floors</span>
          </mat-form-field>

        </div>

      </div>
    </mat-step>

    <mat-step label="Super structure">
      <!-- under_concrete, under_block, under_crack_tiles, under_alocobond, condition & cost of repair -->
      <div fxLayout="column">

        <div fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutGap="10px">
          
          <!-- Superstructure type -->
          
          <mat-form-field appearance={{appearance}} fxFlex.gt-xs="25%"> 
            <mat-label>Superstructure type</mat-label>
            <mat-select>
              <mat-option value="metal">
                Metal
              </mat-option>
              <mat-option value="wood">
                Wood
              </mat-option>
              <mat-option value="concrete">
                Concrete
              </mat-option>
              <mat-option value="block">
                Block
              </mat-option>
              <mat-option value="brick">
                Brick
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        
        <!--under concrete -->
        <mat-divider></mat-divider>
        <span class="mat-title">Under concrete</span>
        
        <div fxLayout.xs="column" fxLayoutAlign.gt-xs="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px">
          
          <mat-form-field appearance={{appearance}} fxFlex.gt-xs="25%">
            <mat-label>
              Concrete work
            </mat-label>
            <input matInput type="text">
            <span matSuffix>m<sup>3</sup></span>
          </mat-form-field>

          <mat-form-field appearance={{appearance}} fxFlex.gt-xs="25%">
            <mat-label>
              Form work
            </mat-label>
            <input matInput type="text">
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field appearance={{appearance}} fxFlex.gt-xs="25%">
            <mat-label>
              Reinforcement
            </mat-label>
            <input matInput type="text">
            <span matSuffix>kg</span>
          </mat-form-field>
        </div>
        
        <!--under block-->
        <mat-divider></mat-divider>
        <span class="mat-title">Under block</span>
      
        <div fxLayout.xs="column" fxLayoutAlign.gt-xs="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px">
          
          <mat-form-field appearance={{appearance}} fxFlex.gt-xs="25%">
            <mat-label>
              Brick work
            </mat-label>
            <input matInput type="text">
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

        </div>

        <!--under crack tiles-->
        <mat-divider></mat-divider>
        <span class="mat-title">Under crack tiles</span>
        <div fxLayout.xs="column" fxLayoutAlign.gt-xs="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px">
          
          <mat-form-field appearance={{appearance}} fxFlex.gt-xs="25%">
            <mat-label>
              Size
            </mat-label>
            <input matInput type="text">
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field appearance={{appearance}} fxFlex.gt-xs="25%">
            <mat-label>
              Type
            </mat-label>
            <input matInput type="text">
          </mat-form-field>

          <mat-form-field appearance={{appearance}} fxFlex.gt-xs="25%">
            <mat-label>
              Quantity
            </mat-label>
            <input matInput type="text">
          </mat-form-field>

        </div>

        <!--under alucobond-->
        <mat-divider></mat-divider>
        <span class="mat-title">Under alucobond</span>
        <div fxLayout.xs="column" fxLayoutAlign.gt-xs="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px">
          
          <mat-form-field appearance={{appearance}} fxFlex.gt-xs="20%">
            <mat-label>
              Size
            </mat-label>
            <input matInput type="text">
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field appearance={{appearance}} fxFlex.gt-xs="25%">
            <mat-label>
              Type
            </mat-label>
            <input matInput type="text">
          </mat-form-field>

          <mat-form-field appearance={{appearance}} fxFlex.gt-xs="25%">
            <mat-label>
              Accessories
            </mat-label>
            <input matInput type="text">
            <mat-hint color="warn">*make reactive(dynamically add accessories)</mat-hint>
          </mat-form-field>

          <mat-form-field appearance={{appearance}} fxFlex.gt-xs="25%">
            <mat-label>
              Quantity
            </mat-label>
            <input matInput type="text">
            <span matSuffix>kg</span>
          </mat-form-field>

        </div>

        <!--Condition-->
        <mat-divider></mat-divider>
        <span class="mat-title">Condition</span>
        <div fxLayout.xs="column" fxLayoutAlign.gt-xs="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px">

          <mat-form-field appearance={{appearance}} fxFlex.gt-xs="25%">
            <mat-label>
              Condition
            </mat-label>
            <mat-select>
              <mat-option value="excellent">
                Excellent
              </mat-option>
              <mat-option value="good">
                Good
              </mat-option>
              <mat-option value="fair">
                Fair
              </mat-option>
              <mat-option value="poor">
                Poor
              </mat-option>
            </mat-select>
          </mat-form-field>
          
          <mat-form-field appearance={{appearance}} fxFlex.gt-xs="25%">
            <mat-label>
              Cost of repair
            </mat-label>
            <input matInput type="text">
            <span matPrefix>&#8358;</span>
            <span matSuffix>.00</span>
          </mat-form-field>

        </div>
      
      </div>

    </mat-step>

    <!-- Wall -->
    <mat-step label="Walls & Windows">

      <div fxLayout="column"> 
        
        <span class="mat-title">Basic wall details</span>  
        
        <div fxLayout.xs="column" fxLayoutAlign.gt-xs="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">

          <mat-form-field fxFlex.gt-xs="25%" appearance={{appearance}}>
            <mat-label>Wall type</mat-label>
            <mat-select>
              <mat-option value="concrete_wall">
                Concrete wall
              </mat-option>
              <mat-option value="150mm">
                150mm block wall
              </mat-option>
              <mat-option>
                225mm block wall
              </mat-option>
              <mat-option value="other">
                other
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="200px" appearance={{appearance}}>
            <mat-label>Quantity</mat-label>
            <input type="text" matInput>
            <span matSuffix>m<sup>3</sup></span>
          </mat-form-field>

          <mat-form-field appearance={{appearance}}>
            <mat-label>Year last decorated</mat-label>
            <input type="text" matInput>
          </mat-form-field>

          <mat-form-field appearance={{appearance}}>
            <mat-label>Has stains?</mat-label>
            <mat-select>
              <mat-option value=true>
                Yes
              </mat-option>
              <mat-option value=false>
                No
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>

        <!-- Concrete walls -->
        <mat-divider></mat-divider>   
        <span class="mat-title">Concrete wall</span>
        (show when selected type is concrete wall)
        
        
        <div fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">

          <mat-form-field fxFlex.gt-xs="25%" appearance={{appearance}}>
            <mat-label>condition</mat-label>
            <mat-select>
              <mat-option value="excellent">
                Excellent
              </mat-option>
              <mat-option value="good">
                Good
              </mat-option>
              <mat-option value="fair">
                Fair
              </mat-option>
              <mat-option value="poor">
                Poor
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="25%" appearance={{appearance}}>
            <mat-label>Quantity</mat-label>
            <input type="text" matInput>
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs appearance={{appearance}}>
            <mat-label>Cost of repair</mat-label>
            <input type="text" matInput>
            <span matPrefix>&#8358;</span>
          </mat-form-field>

        </div>

        <!-- Paint -->
        <mat-divider></mat-divider>   
        <span class="mat-title">Paint</span>
        
        
        <div fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">

          <mat-form-field fxFlex.gt-xs="25%" appearance={{appearance}}>
            <mat-label>condition</mat-label>
            <mat-select>
              <mat-option value="excellent">
                Excellent
              </mat-option>
              <mat-option value="good">
                Good
              </mat-option>
              <mat-option value="fair">
                Fair
              </mat-option>
              <mat-option value="poor">
                Poor
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="25%" appearance={{appearance}}>
            <mat-label>Quantity</mat-label>
            <input type="text" matInput>
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs appearance={{appearance}}>
            <mat-label>Cost of repair</mat-label>
            <input type="text" matInput>
            <span matPrefix>&#8358;</span>
          </mat-form-field>

        </div>

        <!-- Mortar -->
        <mat-divider></mat-divider>   
        <span class="mat-title">Mortar</span>
        
        
        <div fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">
          
          <mat-form-field fxFlex.gt-xs="25%" appearance={{appearance}}>
            <mat-label>condition</mat-label>
            <mat-select>
              <mat-option value="excellent">
                Excellent
              </mat-option>
              <mat-option value="good">
                Good
              </mat-option>
              <mat-option value="fair">
                Fair
              </mat-option>
              <mat-option value="poor">
                Poor
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="25%" appearance={{appearance}}>
            <mat-label>Quantity</mat-label>
            <input type="text" matInput>
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs appearance={{appearance}}>
            <mat-label>Cost of repair</mat-label>
            <input type="text" matInput>
            <span matPrefix>&#8358;</span>
          </mat-form-field>

        </div>

        <!-- Structure -->
        <mat-divider></mat-divider>   
        <span class="mat-title">Structure</span>
        
        
        <div fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">
          
          <mat-form-field fxFlex.gt-xs="15%" appearance={{appearance}}>
            <mat-label>structure type</mat-label>
            <mat-select>
              <mat-option value="frame_structure">
                Frame structure
              </mat-option>
              <mat-option value="load_bearing">
                Load bearing
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="15%" appearance={{appearance}}>
            <mat-label>Quantity</mat-label>
            <input type="text" matInput>
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="15%" appearance={{appearance}}>
            <mat-label>Damage</mat-label>
            <mat-select>
              <mat-option value="25%">
                25%
              </mat-option>
              <mat-option value="50%">
                50%
              </mat-option>
              <mat-option value="75%">
                75%
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="15%" appearance={{appearance}}>
            <mat-label>Condition</mat-label>
            <mat-select>
              <mat-option value="excellent">
                Excellent
              </mat-option>
              <mat-option value="good">
                Good
              </mat-option>
              <mat-option value="fair">
                Fair
              </mat-option>
              <mat-option value="poor">
                Poor
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="40%" appearance={{appearance}}>
            <mat-label>Cost of repair</mat-label>
            <input type="text" matInput>
            <span matPrefix>&#8358;</span>
          </mat-form-field>

        </div>

        <!-- Trimming -->
        <mat-divider></mat-divider>   
        <span class="mat-title">Trimming</span>
        
        
        <div fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">
          
          <mat-form-field fxFlex.gt-xs="25%" appearance={{appearance}}>
            <mat-label>Quantity</mat-label>
            <input type="text" matInput>
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="25%" appearance={{appearance}}>
            <mat-label>condition</mat-label>
            <mat-select>
              <mat-option value="excellent">
                Excellent
              </mat-option>
              <mat-option value="good">
                Good
              </mat-option>
              <mat-option value="fair">
                Fair
              </mat-option>
              <mat-option value="poor">
                Poor
              </mat-option>
            </mat-select>
          </mat-form-field>

          <span fxFlex.gt-xs></span>

        </div>

        <!-- Frame -->
        <mat-divider></mat-divider>   
        <span class="mat-title">Frame</span>
        
        
        <div fxLayout.xs="column" fxLayoutAlign.gt-xs="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">
          
          <mat-form-field fxFlex.gt-xs="25%" appearance={{appearance}}>
            <mat-label>Quantity</mat-label>
            <input type="text" matInput>
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field appearance={{appearance}}>
            <mat-label>Damage</mat-label>
            <mat-select>
              <mat-option value="25%">
                25%
              </mat-option>
              <mat-option value="50%">
                50%
              </mat-option>
              <mat-option value="75%">
                75%
              </mat-option>
            </mat-select>
          </mat-form-field>
          <span fxFlex.gt-x></span>
        </div>

        <!-- Facade -->
        <mat-divider></mat-divider>   
        <span class="mat-title">Facade</span>
        
        
        <div fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">
          
          <mat-form-field fxFlex.gt-xs="25%" appearance={{appearance}}>
            <mat-label>Quantity</mat-label>
            <input type="text" matInput>
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field appearance={{appearance}}>
            <mat-label>Damage</mat-label>
            <mat-select>
              <mat-option value="25%">
                25%
              </mat-option>
              <mat-option value="50%">
                50%
              </mat-option>
              <mat-option value="75%">
                75%
              </mat-option>
            </mat-select>
          </mat-form-field>

          <span fxFlex.gt-xs></span>
        </div>

        <!-- Corridors -->
        <mat-divider></mat-divider>   
        <span class="mat-title">Corridors</span>
        
        
        <div fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">
          
          <mat-form-field fxFlex.gt-xs="25%" appearance={{appearance}}>
            <mat-label>Quantity</mat-label>
            <input type="text" matInput>
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="25%" appearance={{appearance}}>
            <mat-label>condition</mat-label>
            <mat-select>
              <mat-option value="excellent">
                Excellent
              </mat-option>
              <mat-option value="good">
                Good
              </mat-option>
              <mat-option value="fair">
                Fair
              </mat-option>
              <mat-option value="poor">
                Poor
              </mat-option>
            </mat-select>
          </mat-form-field>
          <span fxFlex.gt-xs></span>

        </div>

        <!-- Interior walls-->
        <mat-divider></mat-divider>   
        <span class="mat-title">Interior walls</span>
        
        
        <div fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">
          
          <mat-form-field fxFlex.gt-xs="25%" appearance={{appearance}}>
            <mat-label>Quantity</mat-label>
            <input type="text" matInput>
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>
          
          <mat-form-field fxFlex.gt-xs="25%" appearance={{appearance}}>
            <mat-label>condition</mat-label>
            <mat-select>
              <mat-option value="excellent">
                Excellent
              </mat-option>
              <mat-option value="good">
                Good
              </mat-option>
              <mat-option value="fair">
                Fair
              </mat-option>
              <mat-option value="poor">
                Poor
              </mat-option>
            </mat-select>
          </mat-form-field>
          <span fxFlex.gt-xs></span>

        </div>

        <!-- Interior walls -->
        <mat-divider></mat-divider>   
        <span class="mat-title">Interior walls</span>
        
        
        <div fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">
          
          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Material</mat-label>
            <mat-select>
              <mat-option value="wire_glass">
                Wire and glass
              </mat-option>
              <mat-option value="glass_block">
                Glass block
              </mat-option>
              <mat-option value="Plate">
                Plate
              </mat-option>
              <mat-option value="tempered">
                Tempered
              </mat-option>
              <mat-option value="operating">
                Operating
              </mat-option>
              <mat-option value="fixed">
                Fixed
              </mat-option>
              <mat-option value="other">
                Other
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance={{appearance}} fxFlex.gt-xs="20%">
            <mat-label>Size</mat-label>
            <input type="text" matInput>
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Type</mat-label>
            <input type="text" matInput>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Quantity</mat-label>
            <input type="text" matInput>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Condition</mat-label>
            <mat-select>
              <mat-option value="excellent">
                Excellent
              </mat-option>
              <mat-option value="good">
                Good
              </mat-option>
              <mat-option value="faie">
                Fair
              </mat-option>
              <mat-option value="poor">
                Poor
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="40%" appearance={{appearance}}>
            <mat-label>Cost of repair</mat-label>
            <input type="text" matInput>
            <span matPrefix>&#8358;</span>
          </mat-form-field>

        </div>
        
      </div>

    </mat-step>

    <mat-step label="Floor">
      
      <div fxLayout="column"> 
        
        <!-- Joints and beams -->
        <span class="mat-title">Joints & Beams</span>   
        
        <div fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Concrete work</mat-label>
            <input type="text" matInput>
            <span matSuffix>m<sup>3</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Finishes</mat-label>
            <input type="text" matInput>
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Form work</mat-label>
            <input type="text" matInput>
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Quantity</mat-label>
            <input type="text" matInput>
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Damage</mat-label>
            <mat-select>
              <mat-option value="25">
                25%
              </mat-option>
              <mat-option value="50">
                50%
              </mat-option>
              <mat-option value="75%">
                75%
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="40%" appearance={{appearance}}>
            <mat-label>Cost of repair</mat-label>
            <input type="text" matInput>
            <span matPrefix>&#8358;</span>
          </mat-form-field>

        </div>

        <!-- Slabs -->
        <mat-divider></mat-divider>
        <span class="mat-title">Slabs</span>   
        
        <div fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Concrete work</mat-label>
            <input type="text" matInput>
            <span matSuffix>m<sup>3</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Finishes</mat-label>
            <input type="text" matInput>
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Form work</mat-label>
            <input type="text" matInput>
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Quantity</mat-label>
            <input type="text" matInput>
            <span matSuffix>m<sup>3</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Reinforcement</mat-label>
            <input type="text" matInput>
            <span matSuffix>kg</span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Damage</mat-label>
            <mat-select>
              <mat-option value="25">
                25%
              </mat-option>
              <mat-option value="50">
                50%
              </mat-option>
              <mat-option value="75%">
                75%
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="40%" appearance={{appearance}}>
            <mat-label>Cost of repair</mat-label>
            <input type="text" matInput>
            <span matPrefix>&#8358;</span>
          </mat-form-field>

          <span fxFlex.gt-xs></span>

        </div>

        <!-- Foundation -->
        <mat-divider></mat-divider>
        <span class="mat-title">Foundation</span>   
        
        <div fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Type</mat-label>
            <input type="text" matInput>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Depth</mat-label>
            <input type="text" matInput>
            <span matSuffix>m</span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Filling</mat-label>
            <input type="text" matInput>
            <span matSuffix>m<sup>3</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Excavation</mat-label>
            <input type="text" matInput>
            <span matSuffix>m<sup>3</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Concrete work</mat-label>
            <input type="text" matInput>
            <span matSuffix>m<sup>3</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Block work</mat-label>
            <input type="text" matInput>
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>


          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Form work</mat-label>
            <input type="text" matInput>
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Reinforcement</mat-label>
            <input type="text" matInput>
            <span matSuffix>kg</span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Rendering</mat-label>
            <input type="text" matInput>
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Damp proof membrane</mat-label>
            <input type="text" matInput>
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Damage</mat-label>
            <mat-select>
              <mat-option value="25">
                25%
              </mat-option>
              <mat-option value="50">
                50%
              </mat-option>
              <mat-option value="75%">
                75%
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="40%" appearance={{appearance}}>
            <mat-label>Cost of repair</mat-label>
            <input type="text" matInput>
            <span matPrefix>&#8358;</span>
          </mat-form-field>

          <span fxFlex.gt-xs></span>

        </div>

        <!-- Floor structure -->
        <mat-divider></mat-divider>
        <span class="mat-title">Foundation</span>   
        
        <div fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Material</mat-label>
            <mat-select>
              <mat-option value="metal">
                Metal
              </mat-option>
              <mat-option value="wood">
                Wood
              </mat-option>
              <mat-option value="concrete">
                Concrete
              </mat-option>
              <mat-option value="other">
                Other
              </mat-option>
            </mat-select>
          </mat-form-field>


          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Size</mat-label>
            <input type="text" matInput>
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Type</mat-label>
            <input type="text" matInput>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Accessories</mat-label>
            <input type="text" matInput>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Quantity</mat-label>
            <input type="text" matInput>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Condition</mat-label>
            <mat-select>
              <mat-option value="excellent">
                Excellent
              </mat-option>
              <mat-option value="good">
                Good
              </mat-option>
              <mat-option value="fair">
                Fair
              </mat-option>
              <mat-option value="poor">
                Poor
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="40%" appearance={{appearance}}>
            <mat-label>Cost of repair</mat-label>
            <input type="text" matInput>
            <span matPrefix>&#8358;</span>
          </mat-form-field>

          <span fxFlex.gt-xs></span>

        </div>

        <!-- Floor covering -->
        <mat-divider></mat-divider>
        <span class="mat-title">Floor covering</span>   
        
        <div fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Material</mat-label>
            <mat-select>
              <mat-option value="metal">
                Metal
              </mat-option>
              <mat-option value="wood">
                Wood
              </mat-option>
              <mat-option value="concrete">
                Concrete
              </mat-option>
              <mat-option value="other">
                Other
              </mat-option>
            </mat-select>
          </mat-form-field>


          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Size</mat-label>
            <input type="text" matInput>
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Type</mat-label>
            <input type="text" matInput>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Accessories</mat-label>
            <input type="text" matInput>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Quantity</mat-label>
            <input type="text" matInput>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Condition</mat-label>
            <mat-select>
              <mat-option value="excellent">
                Excellent
              </mat-option>
              <mat-option value="good">
                Good
              </mat-option>
              <mat-option value="fair">
                Fair
              </mat-option>
              <mat-option value="poor">
                Poor
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="40%" appearance={{appearance}}>
            <mat-label>Cost of repair</mat-label>
            <input type="text" matInput>
            <span matPrefix>&#8358;</span>
          </mat-form-field>

          <span fxFlex.gt-xs></span>

        </div>

      </div>

    </mat-step>

    <mat-step label="Roof & Ceiling">
      
      <div fxLayout="column"> 
        
        <span class="mat-title">Basic wall details</span>
        <mat-divider></mat-divider>   
        <div fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutGap="10px">

          

        </div>

      </div>

    </mat-step>

    <mat-step label="Others">
      
      <div fxLayout="column"> 
        
        <span class="mat-title">Basic wall details</span>
        <mat-divider></mat-divider>   
        <div fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutGap="10px">

          

        </div>

      </div>

    </mat-step>

    
  
  </mat-horizontal-stepper>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <!--<button mat-flat-button color="primary">
    <mat-icon>add</mat-icon>
    Add building
  </button>-->
</mat-dialog-actions>