<!-- Add Building -->
<h2 mat-dialog-title *ngIf="!submitted">
  Add building
  <span fxFlex="1 1 auto">
  
  </span>

  <button mat-stroked-button (click)="resetForm()">Reset form</button> 
  <button mat-icon-button aria-label="close dialog" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</h2>

<button mat-flat-button mat-dialog-close color="primary" *ngIf="submitted">
  Building details added successfully!!
</button>

<mat-dialog-content *ngIf="!submitted">

  <mat-horizontal-stepper labelPosition="bottom" #stepper linear>
  <form formGroup="buildingForm">    

    <mat-step label="Basic data" formGroupName="structure">

      <div fxLayout="column" fxLayoutGap="20px">

        <span class="mat-title">Building information</span>
      
        <div fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutAlign.gt-xs="space-between" fxLayoutGap="10px">

          <mat-form-field appearance={{appearance}} fxFlex.gt-xs="30%">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name">
          </mat-form-field>

          <span fxFlex.gt-xs></span>

          <mat-form-field appearance={{appearance}} fxFlex.gt-xs="20%">
            <mat-label>Code</mat-label>
            <input matInput type="text" formControlName="code">
          </mat-form-field>

          <mat-form-field appearance={{appearance}} fxFlex.gt-xs="200px">
            <mat-label>Purpose</mat-label>
            <input matInput type="text" formControlName="purpose">
          </mat-form-field>          

          <mat-form-field appearance={{appearance}} fxFlex.gt-xs="20%">
            <mat-label>Year built</mat-label>
            <input matInput type="text" formControlName="year_built">
          </mat-form-field>

          <div formGroupName="position" fxFlex.gt-xs="1 1 auto" fxLayoutGap="10px grid" fxLayout.xs="column" fxLayout.gt-xs="row wrap">

            <mat-form-field appearance={{appearance}} fxFlex.gt-xs="50%">
              <mat-label>position</mat-label>
              <input matInput type="text" formControlName="longitude">
              <span matSuffix>Longitude</span>
            </mat-form-field>

            <mat-form-field appearance={{appearance}} fxFlex.gt-xs="50%">
              <mat-label>position</mat-label>
              <input matInput type="text" formControlName="latitude">
              <span matSuffix>Latitude</span>
            </mat-form-field>

          </div>

          

          <!--<mat-form-field appearance={{appearance}} fxFlex.gt-xs="100%">
            <mat-label>Comment</mat-label>
            <input matInput type="text" formControlName="comment">
          </mat-form-field>-->

       
        </div>
        
        <mat-divider></mat-divider>
        <span class="mat-title">Building dimensions</span>
        
        <div formGroupName="dimensions" fxLayout.xs="column" fxLayou.gt-xs="row wrap" fxLayoutGap="10px">

          <mat-form-field appearance={{appearance}} fxFlex.gt-xs="24%">
            <mat-label>floor area</mat-label>
            <input matInput type="text" formControlName="floor_area">
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field appearance={{appearance}} fxFlex.gt-xs="24%">
            <mat-label>wall area</mat-label>
            <input matInput type="text" formControlName="wall_area">
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field appearance={{appearance}} fxFlex.gt-xs="24%">
            <mat-label>ceiling area</mat-label>
            <input matInput type="text" formControlName="ceiling_area">
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field appearance={{appearance}} fxFlex.gt-xs="24%">
            <mat-label>Number of floors</mat-label>
            <input matInput type="text" formControlName="floors">
            <span matSuffix>floors</span>
          </mat-form-field>

        </div>

        <div fxLayout="row">
          <span fxFlex="1 1 auto"></span>
          <button mat-flat-button color="primary" matStepperNext>
            Next
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>

      </div>
    </mat-step>

    <mat-step label="Super structure" [formGroup]="buildingForm.controls.structure" [stepControl]="buildingForm.controls.structure">
      <div fxLayout="column" fxLayoutGap="20px" formGroupName="super_structure">

        <div fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutGap="10px">
          
          <!-- Superstructure type -->
          
          <mat-form-field appearance={{appearance}} fxFlex.gt-xs="25%"> 
            <mat-label>Superstructure type</mat-label>
            <mat-select formControlName="type">
              <mat-option value="metal">
                Metal
              </mat-option>
              <mat-option value="wood">
                Wood
              </mat-option>
              <mat-option value="concrete">
                Concrete
              </mat-option>
              <mat-option value="block">
                Block
              </mat-option>
              <mat-option value="brick">
                Brick
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        
        <!--under concrete -->
        <mat-divider></mat-divider>
        <span class="mat-title">Under concrete & Under block</span>
        
        <div formGroupName="under_concrete" fxLayout.xs="column" fxLayoutAlign.gt-xs="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px">
          
          <mat-form-field appearance={{appearance}} fxFlex.gt-xs="25%">
            <mat-label>
              Concrete work
            </mat-label>
            <input matInput type="text" formControlName="concrete_work">
            <span matSuffix>m<sup>3</sup></span>
          </mat-form-field>

          <mat-form-field appearance={{appearance}} fxFlex.gt-xs="25%">
            <mat-label>
              Form work
            </mat-label>
            <input matInput type="text" formControlName="form_work">
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field appearance={{appearance}} fxFlex.gt-xs="25%">
            <mat-label>
              Brick work
            </mat-label>
            <input matInput type="text" formControlName="brick_work">
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field appearance={{appearance}} fxFlex.gt-xs="25%">
            <mat-label>
              Reinforcement
            </mat-label>
            <input matInput type="text" formControlName="reinforcement">
            <span matSuffix>kg</span>
          </mat-form-field>

        </div>

        <!--under crack tiles-->
        <mat-divider></mat-divider>
        <span class="mat-title">Under crack tiles</span>
        <div formGroupName="under_crack_tiles" fxLayout.xs="column" fxLayoutAlign.gt-xs="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px">
          
          <mat-form-field appearance={{appearance}} fxFlex.gt-xs="25%">
            <mat-label>
              Size
            </mat-label>
            <input formControlName="size" matInput type="text">
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field appearance={{appearance}} fxFlex.gt-xs="25%">
            <mat-label>
              Type
            </mat-label>
            <input formControlName="type" matInput type="text">
          </mat-form-field>

          <mat-form-field appearance={{appearance}} fxFlex.gt-xs="25%">
            <mat-label>
              Quantity
            </mat-label>
            <input formControlName="quantity" matInput type="text">
          </mat-form-field>

          <span fxFlex.gt-xs></span>

        </div>

        <!--under alucobond-->
        <mat-divider></mat-divider>
        <span class="mat-title">Under alucobond</span>
        <div formGroupName="under_alucobond" fxLayout.xs="column" fxLayoutAlign.gt-xs="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px">
          
          <mat-form-field appearance={{appearance}} fxFlex.gt-xs="20%">
            <mat-label>
              Size
            </mat-label>
            <input formControlName="size" matInput type="text">
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field appearance={{appearance}} fxFlex.gt-xs="25%">
            <mat-label>
              Type
            </mat-label>
            <input formControlName="type" matInput type="text">
          </mat-form-field>

          <mat-form-field appearance={{appearance}} fxFlex.gt-xs="25%">
            <mat-label>
              Accessories
            </mat-label>
            <input formControlName="accessories" matInput type="text">
            <mat-hint color="warn">*make reactive(dynamically add accessories)</mat-hint>
          </mat-form-field>

          <mat-form-field appearance={{appearance}} fxFlex.gt-xs="25%">
            <mat-label>
              Quantity
            </mat-label>
            <input formControlName="quantity" matInput type="text">
            <span matSuffix>kg</span>
          </mat-form-field>

        </div>

        <!--Condition-->
        <mat-divider></mat-divider>
        <span class="mat-title">Condition</span>
        <div fxLayout.xs="column" fxLayoutAlign.gt-xs="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px">

          <mat-form-field appearance={{appearance}} fxFlex.gt-xs="25%">
            <mat-label>
              Condition
            </mat-label>
            <mat-select formControlName="condition">
              <mat-option value="excellent">
                Excellent
              </mat-option>
              <mat-option value="good">
                Good
              </mat-option>
              <mat-option value="fair">
                Fair
              </mat-option>
              <mat-option value="poor">
                Poor
              </mat-option>
            </mat-select>
          </mat-form-field>
          
          <mat-form-field appearance={{appearance}} fxFlex.gt-xs="25%">
            <mat-label>
              Cost of repair
            </mat-label>
            <input formControlName="cost_of_repair" matInput type="text">
            <span matPrefix>&#8358;</span>
            <span matSuffix>.00</span>
          </mat-form-field>

          <span fxFlex.gt-xs></span>

        </div>

        <div fxLayout="row">
          <button mat-flat-button color="primary" matStepperPrevious>
            <mat-icon>chevron_left</mat-icon>
            Previous            
          </button>
          <span fxFlex="1 1 auto"></span>
          <button mat-flat-button color="primary" matStepperNext>
            Next
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>
      
      </div>

    </mat-step>

    <!-- Wall -->
    <mat-step label="Walls & Windows"  [formGroup]="buildingForm.controls.walls" [stepControl]="buildingForm.controls.walls">

      <div fxLayout="column" fxLayoutGap="20px"> 
        
        <span class="mat-title">Basic wall details</span>  
        
        <div fxLayout.xs="column" fxLayoutAlign.gt-xs="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">

          <mat-form-field fxFlex.gt-xs="25%" appearance={{appearance}}>
            <mat-label>Wall type</mat-label>
            <mat-select formControlName="wall_type">
              <mat-option value="concrete_wall">
                Concrete wall
              </mat-option>
              <mat-option value="150mm">
                150mm block wall
              </mat-option>
              <mat-option value="225mm">
                225mm block wall
              </mat-option>
              <mat-option value="other">
                other
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="200px" appearance={{appearance}}>
            <mat-label>Quantity</mat-label>
            <input type="text" matInput formControlName="quantity">
            <span matSuffix>m<sup>3</sup></span>
          </mat-form-field>

          <mat-form-field appearance={{appearance}}>
            <mat-label>Year last decorated</mat-label>
            <input type="text" matInput formControlName="last_decorated">
          </mat-form-field>

          <mat-form-field appearance={{appearance}}>
            <mat-label>Has stains?</mat-label>
            <mat-select formControlName="has_stain">
              <mat-option value=true>
                Yes
              </mat-option>
              <mat-option value=false>
                No
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>

        <!-- Concrete walls -->
        <mat-divider></mat-divider>   
        <span class="mat-title">Concrete wall</span>
        (show when selected type is concrete wall)
        
        
        <div formGroupName="concrete_wall" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">

          <mat-form-field fxFlex.gt-xs="25%" appearance={{appearance}}>
            <mat-label>condition</mat-label>
            <mat-select formControlName="condition">
              <mat-option value="excellent">
                Excellent
              </mat-option>
              <mat-option value="good">
                Good
              </mat-option>
              <mat-option value="fair">
                Fair
              </mat-option>
              <mat-option value="poor">
                Poor
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="25%" appearance={{appearance}}>
            <mat-label>Quantity</mat-label>
            <input type="text" matInput formControlName="quantity">
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs appearance={{appearance}}>
            <mat-label>Cost of repair</mat-label>
            <input type="text" matInput formControlName="cost_of_repair">
            <span matPrefix>&#8358;</span>
          </mat-form-field>

        </div>

        <!-- Paint -->
        <mat-divider></mat-divider>   
        <span class="mat-title">Paint</span>
        
        
        <div formGroupName="paint" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">

          <mat-form-field fxFlex.gt-xs="25%" appearance={{appearance}}>
            <mat-label>condition</mat-label>
            <mat-select formControlName="condition">
              <mat-option value="excellent">
                Excellent
              </mat-option>
              <mat-option value="good">
                Good
              </mat-option>
              <mat-option value="fair">
                Fair
              </mat-option>
              <mat-option value="poor">
                Poor
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="25%" appearance={{appearance}}>
            <mat-label>Quantity</mat-label>
            <input type="text" matInput formControlName="quantity">
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs appearance={{appearance}}>
            <mat-label>Cost of repair</mat-label>
            <input type="text" matInput formControlName="cost_of_repair">
            <span matPrefix>&#8358;</span>
          </mat-form-field>

        </div>

        <!-- Mortar -->
        <mat-divider></mat-divider>   
        <span class="mat-title">Mortar</span>
        
        
        <div formGroupName="mortar" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">
          
          <mat-form-field fxFlex.gt-xs="25%" appearance={{appearance}}>
            <mat-label>condition</mat-label>
            <mat-select formControlName="condition">
              <mat-option value="excellent">
                Excellent
              </mat-option>
              <mat-option value="good">
                Good
              </mat-option>
              <mat-option value="fair">
                Fair
              </mat-option>
              <mat-option value="poor">
                Poor
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="25%" appearance={{appearance}}>
            <mat-label>Quantity</mat-label>
            <input type="text" matInput formControlName="quantity">
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs appearance={{appearance}}>
            <mat-label>Cost of repair</mat-label>
            <input type="text" matInput formControlName="cost_of_repair">
            <span matPrefix>&#8358;</span>
          </mat-form-field>

        </div>

        <!-- Structure -->
        <mat-divider></mat-divider>   
        <span class="mat-title">Structure</span>
        
        
        <div formGroupName="structure" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">
          
          <mat-form-field fxFlex.gt-xs="15%" appearance={{appearance}}>
            <mat-label>structure type</mat-label>
            <mat-select formControlName="type">
              <mat-option value="frame_structure">
                Frame structure
              </mat-option>
              <mat-option value="load_bearing">
                Load bearing
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="15%" appearance={{appearance}}>
            <mat-label>Quantity</mat-label>
            <input type="text" matInput formControlName="quantity">
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="15%" appearance={{appearance}}>
            <mat-label>Damage</mat-label>
            <mat-select formControlName="damage">
              <mat-option value=25>
                25%
              </mat-option>
              <mat-option value=50>
                50%
              </mat-option>
              <mat-option value=75>
                75%
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="15%" appearance={{appearance}}>
            <mat-label>Condition</mat-label>
            <mat-select formControlName="condition">
              <mat-option value="excellent">
                Excellent
              </mat-option>
              <mat-option value="good">
                Good
              </mat-option>
              <mat-option value="fair">
                Fair
              </mat-option>
              <mat-option value="poor">
                Poor
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="40%" appearance={{appearance}}>
            <mat-label>Cost of repair</mat-label>
            <input type="text" matInput formControlName="cost_of_repair">
            <span matPrefix>&#8358;</span>
          </mat-form-field>

        </div>

        <!-- Trimming -->
        <mat-divider></mat-divider>   
        <span class="mat-title">Trimming</span>
        
        <div formGroupName="trimming" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">
          
          <mat-form-field fxFlex.gt-xs="25%" appearance={{appearance}}>
            <mat-label>Quantity</mat-label>
            <input type="text" matInput formControlName="quantity">
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>
          
          <mat-form-field fxFlex.gt-xs="25%" appearance={{appearance}}>
            <mat-label>Finishes</mat-label>
            <input type="text" matInput formControlName="finishes">
          </mat-form-field>
          
          <mat-form-field fxFlex.gt-xs="25%" appearance={{appearance}}>
            <mat-label>Condition</mat-label>
            <mat-select formControlName="condition">
              <mat-option value="excellent">
                Excellent
              </mat-option>
              <mat-option value="good">
                Good
              </mat-option>
              <mat-option value="fair">
                Fair
              </mat-option>
              <mat-option value="poor">
                Poor
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="40%" appearance={{appearance}}>
            <mat-label>Cost of repair</mat-label>
            <input type="text" matInput formControlName="cost_of_repair">
            <span matPrefix>&#8358;</span>
          </mat-form-field>
          <span fxFlex.gt-xs></span>

        </div>

        <!-- Frame -->
        <mat-divider></mat-divider>   
        <span class="mat-title">Frame</span>
        
        <div formGroupName="frame" fxLayout.xs="column" fxLayoutAlign.gt-xs="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">
          
          <mat-form-field fxFlex.gt-xs="25%" appearance={{appearance}}>
            <mat-label>Concrete work</mat-label>
            <input type="text" matInput formControlName="concrete_work">
            <span matSuffix>m<sup>3</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="25%" appearance={{appearance}}>
            <mat-label>Finishes</mat-label>
            <input type="text" matInput formControlName="finishes">
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="25%" appearance={{appearance}}>
            <mat-label>Form work</mat-label>
            <input type="text" matInput formControlName="form_work">
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="25%" appearance={{appearance}}>
            <mat-label>Quantity</mat-label>
            <input type="text" matInput formControlName="quantity">
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="25%" appearance={{appearance}}>
            <mat-label>Reinforcement</mat-label>
            <input type="text" matInput formControlName="reinforcement">
            <span matSuffix>kg</span>
          </mat-form-field>

          <mat-form-field appearance={{appearance}}>
            <mat-label>Damage</mat-label>
            <mat-select formControlName="damage">
              <mat-option value="25%">
                25%
              </mat-option>
              <mat-option value="50%">
                50%
              </mat-option>
              <mat-option value="75%">
                75%
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="40%" appearance={{appearance}}>
            <mat-label>Cost of repair</mat-label>
            <input type="text" matInput formControlName="cost_of_repair">
            <span matPrefix>&#8358;</span>
          </mat-form-field>

          <span fxFlex.gt-x></span>

        </div>

        <!-- Facade -->
        <mat-divider></mat-divider>   
        <span class="mat-title">Facade</span>
        
        
        <div formGroupName="facade" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">
          
          <mat-form-field fxFlex.gt-xs="25%" appearance={{appearance}}>
            <mat-label>Concrete work</mat-label>
            <input type="text" matInput formControlName="concrete_work">
            <span matSuffix>m<sup>3</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="25%" appearance={{appearance}}>
            <mat-label>Finishes</mat-label>
            <input type="text" matInput formControlName="finishes">
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="25%" appearance={{appearance}}>
            <mat-label>Form work</mat-label>
            <input type="text" matInput formControlName="form_work">
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="25%" appearance={{appearance}}>
            <mat-label>Type</mat-label>
            <input type="text" matInput formControlName="type">
          </mat-form-field>


          <mat-form-field fxFlex.gt-xs="25%" appearance={{appearance}}>
            <mat-label>Quantity</mat-label>
            <input type="text" matInput formControlName="quantity">
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field appearance={{appearance}}>
            <mat-label>Damage</mat-label>
            <mat-select formControlName="damage">
              <mat-option value=25>
                25%
              </mat-option>
              <mat-option value=50>
                50%
              </mat-option>
              <mat-option value=75>
                75%
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="40%" appearance={{appearance}}>
            <mat-label>Cost of repair</mat-label>
            <input type="text" matInput formControlName="cost_of_repair">
            <span matPrefix>&#8358;</span>
          </mat-form-field>

          <span fxFlex.gt-xs></span>
        </div>

        <!-- Corridors -->
        <mat-divider></mat-divider>   
        <span class="mat-title">Corridors</span>
        
        
        <div formGroupName="corridors" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">
          
          <mat-form-field fxFlex.gt-xs="25%" appearance={{appearance}}>
            <mat-label>Quantity</mat-label>
            <input type="text" matInput formControlName="quantity">
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="25%" appearance={{appearance}}>
            <mat-label>Type</mat-label>
            <input type="text" matInput formControlName="type">
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="25%" appearance={{appearance}}>
            <mat-label>condition</mat-label>
            <mat-select formControlName="condition">
              <mat-option value="excellent">
                Excellent
              </mat-option>
              <mat-option value="good">
                Good
              </mat-option>
              <mat-option value="fair">
                Fair
              </mat-option>
              <mat-option value="poor">
                Poor
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="40%" appearance={{appearance}}>
            <mat-label>Cost of repair</mat-label>
            <input type="text" matInput formControlName="cost_of_repair">
            <span matPrefix>&#8358;</span>
          </mat-form-field>

          <span fxFlex.gt-xs></span>

        </div>

        <!-- Interior walls-->
        <mat-divider></mat-divider>   
        <span class="mat-title">Interior walls</span>
        
        
        <div formGroupName="interior_wall" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">
          
          <mat-form-field fxFlex.gt-xs="25%" appearance={{appearance}}>
            <mat-label>Finishing</mat-label>
            <mat-select formControlName="finishing">
              <mat-option value="metal">
                Metal
              </mat-option>
              <mat-option value="wood">
                Wood
              </mat-option>
              <mat-option value="sheetrock">
                Sheetrock
              </mat-option>
              <mat-option value="plaster">
                Plaster
              </mat-option>
              <mat-option value="concrete">
                Concrete
              </mat-option>
              <mat-option value="brick">
                Brick
              </mat-option>
              <mat-option value="paneling">
                Paneling
              </mat-option>
              <mat-option value="other">
                Other
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="25%" appearance={{appearance}}>
            <mat-label>Size</mat-label>
            <input type="text" matInput formControlName="size">
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="25%" appearance={{appearance}}>
            <mat-label>Type</mat-label>
            <input type="text" matInput formControlName="type">
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="25%" appearance={{appearance}}>
            <mat-label>Accessories</mat-label>
            <input type="text" matInput formControlName="accessories">
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="25%" appearance={{appearance}}>
            <mat-label>Quantity</mat-label>
            <input type="text" matInput formControlName="quantity">
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>
          
          <mat-form-field fxFlex.gt-xs="25%" appearance={{appearance}}>
            <mat-label>condition</mat-label>
            <mat-select formControlName="cost_of_repair">
              <mat-option value="excellent">
                Excellent
              </mat-option>
              <mat-option value="good">
                Good
              </mat-option>
              <mat-option value="fair">
                Fair
              </mat-option>
              <mat-option value="poor">
                Poor
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="40%" appearance={{appearance}}>
            <mat-label>Cost of repair</mat-label>
            <input type="text" matInput formControlName="cost_of_repair">
            <span matPrefix>&#8358;</span>
          </mat-form-field>

          <span fxFlex.gt-xs></span>

        </div>

        <!-- Windows -->
        <mat-divider></mat-divider>   
        <span class="mat-title">Windows</span>
        
        
        <div formGroupName="windows" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">
          
          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Material</mat-label>
            <mat-select form formControlName="material">
              <mat-option value="wire_and_glass">
                Wire and glass
              </mat-option>
              <mat-option value="glass_block">
                Glass block
              </mat-option>
              <mat-option value="Plate">
                Plate
              </mat-option>
              <mat-option value="tempered">
                Tempered
              </mat-option>
              <mat-option value="operating">
                Operating
              </mat-option>
              <mat-option value="fixed">
                Fixed
              </mat-option>
              <mat-option value="other">
                Other
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance={{appearance}} fxFlex.gt-xs="20%">
            <mat-label>Size</mat-label>
            <input type="text" matInput formControlName="size">
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Type</mat-label>
            <input type="text" matInput formControlName="type">
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Quantity</mat-label>
            <input type="text" matInput formControlName="quantity">
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Condition</mat-label>
            <mat-select formControlName="condition">
              <mat-option value="excellent">
                Excellent
              </mat-option>
              <mat-option value="good">
                Good
              </mat-option>
              <mat-option value="faie">
                Fair
              </mat-option>
              <mat-option value="poor">
                Poor
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="40%" appearance={{appearance}}>
            <mat-label>Cost of repair</mat-label>
            <input type="text" matInput formControlName="cost_of_repair">
            <span matPrefix>&#8358;</span>
          </mat-form-field>

        </div>

        <div fxLayout="row">

          <button mat-flat-button color="primary" matStepperPrevious>
            <mat-icon>chevron_left</mat-icon>
            Previous            
          </button>
          <span fxFlex="1 1 auto"></span>
          <button mat-flat-button color="primary" matStepperNext>
            Next
            <mat-icon>chevron_right</mat-icon>
          </button>

        </div>
        
      </div>

    </mat-step>

    <!-- Floor-->

    <mat-step label="Floor" [formGroup]="buildingForm.controls.floor" [stepControl]="buildingForm.controls.floor">
      
      <div fxLayout="column" fxLayoutGap="20px"> 
        
        <!-- Joints and beams -->
        <span class="mat-title">Joints & Beams</span>   
        
        <div formGroupName="joints_and_beams" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Concrete work</mat-label>
            <input type="text" matInput formControlName="concrete_work">
            <span matSuffix>m<sup>3</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Finishes</mat-label>
            <input type="text" matInput formControlName="finishes">
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Form work</mat-label>
            <input type="text" matInput formControlName="form_work">
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Quantity</mat-label>
            <input type="text" matInput formControlName="quantity">
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Damage</mat-label>
            <mat-select formControlName="damage">
              <mat-option value="25">
                25%
              </mat-option>
              <mat-option value="50">
                50%
              </mat-option>
              <mat-option value="75%">
                75%
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="40%" appearance={{appearance}}>
            <mat-label>Cost of repair</mat-label>
            <input type="text" matInput formControlName="cost_of_repair">
            <span matPrefix>&#8358;</span>
          </mat-form-field>

        </div>

        <!-- Slabs -->
        <mat-divider></mat-divider>
        <span class="mat-title">Slabs</span>   
        
        <div formGroupName="slabs" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Concrete work</mat-label>
            <input type="text" matInput formControlName="concrete_work">
            <span matSuffix>m<sup>3</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Finishes</mat-label>
            <input type="text" matInput formControlName="finishes">
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Form work</mat-label>
            <input type="text" matInput formControlName="form_work">
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Quantity</mat-label>
            <input type="text" matInput formControlName="quantity">
            <span matSuffix>m<sup>3</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Reinforcement</mat-label>
            <input type="text" matInput formControlName="reinforcement">
            <span matSuffix>kg</span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Damage</mat-label>
            <mat-select formControlName="damage">
              <mat-option value="25">
                25%
              </mat-option>
              <mat-option value="50">
                50%
              </mat-option>
              <mat-option value="75%">
                75%
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="40%" appearance={{appearance}}>
            <mat-label>Cost of repair</mat-label>
            <input type="text" matInput formControlName="cost_of_repair">
            <span matPrefix>&#8358;</span>
          </mat-form-field>

          <span fxFlex.gt-xs></span>

        </div>

        <!-- Foundation -->
        <mat-divider></mat-divider>
        <span class="mat-title">Foundation</span>   
        
        <div formGroupName="foundation" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Type</mat-label>
            <input type="text" matInput formControlName="type">
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Depth</mat-label>
            <input type="text" matInput formControlName="depth">
            <span matSuffix>m</span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Filling</mat-label>
            <input type="text" matInput formControlName="filling">
            <span matSuffix>m<sup>3</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Excavation</mat-label>
            <input type="text" matInput formControlName="excavation">
            <span matSuffix>m<sup>3</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Concrete work</mat-label>
            <input type="text" matInput formControlName="concrete_work">
            <span matSuffix>m<sup>3</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Block work</mat-label>
            <input type="text" matInput formControlName="block_work">
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>


          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Form work</mat-label>
            <input type="text" matInput formControlName="form_work">
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Reinforcement</mat-label>
            <input type="text" matInput formControlName="reinforcement">
            <span matSuffix>kg</span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Rendering</mat-label>
            <input type="text" matInput formControlName="rendering">
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Damp proof membrane</mat-label>
            <input type="text" matInput formControlName="dpm">
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Damage</mat-label>
            <mat-select formControlName="damage">
              <mat-option value="25">
                25%
              </mat-option>
              <mat-option value="50">
                50%
              </mat-option>
              <mat-option value="75%">
                75%
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="40%" appearance={{appearance}}>
            <mat-label>Cost of repair</mat-label>
            <input type="text" matInput formControlName="cost_of_repair">
            <span matPrefix>&#8358;</span>
          </mat-form-field>

          <span fxFlex.gt-xs></span>

        </div>

        <!-- Floor structure -->
        <mat-divider></mat-divider>
        <span class="mat-title">Foundation</span>   
        
        <div formGroupName="floor_structure" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Material</mat-label>
            <mat-select formControlName="material">
              <mat-option value="metal">
                Metal
              </mat-option>
              <mat-option value="wood">
                Wood
              </mat-option>
              <mat-option value="concrete">
                Concrete
              </mat-option>
              <mat-option value="other">
                Other
              </mat-option>
            </mat-select>
          </mat-form-field>


          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Size</mat-label>
            <input type="text" matInput formControlName="size">
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Type</mat-label>
            <input type="text" matInput formControlName="type">
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Accessories</mat-label>
            <input type="text" matInput formControlName="accessories"> 
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Quantity</mat-label>
            <input type="text" matInput formControlName="quantity">
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Condition</mat-label>
            <mat-select formControlName="condition">
              <mat-option value="excellent">
                Excellent
              </mat-option>
              <mat-option value="good">
                Good
              </mat-option>
              <mat-option value="fair">
                Fair
              </mat-option>
              <mat-option value="poor">
                Poor
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="40%" appearance={{appearance}}>
            <mat-label>Cost of repair</mat-label>
            <input type="text" matInput formControlName="cost_of_repair">
            <span matPrefix>&#8358;</span>
          </mat-form-field>

          <span fxFlex.gt-xs></span>

        </div>

        <!-- Floor covering -->
        <mat-divider></mat-divider>
        <span class="mat-title">Floor covering</span>   
        
        <div formGroupName="floor_covering" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Material</mat-label>
            <mat-select formControlName="material">
              <mat-option value="metal">
                Metal
              </mat-option>
              <mat-option value="wood">
                Wood
              </mat-option>
              <mat-option value="concrete">
                Concrete
              </mat-option>
              <mat-option value="other">
                Other
              </mat-option>
            </mat-select>
          </mat-form-field>


          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Size</mat-label>
            <input type="text" matInput formControlName="size">
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Type</mat-label>
            <input type="text" matInput formControlName="type">
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Accessories</mat-label>
            <input type="text" matInput formControlName="accessories">
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Quantity</mat-label>
            <input type="text" matInput formControlName="quantity">
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Condition</mat-label>
            <mat-select formControlName="condition">
              <mat-option value="excellent">
                Excellent
              </mat-option>
              <mat-option value="good">
                Good
              </mat-option>
              <mat-option value="fair">
                Fair
              </mat-option>
              <mat-option value="poor">
                Poor
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="40%" appearance={{appearance}}>
            <mat-label>Cost of repair</mat-label>
            <input type="text" matInput formControlName="cost_of_repair">
            <span matPrefix>&#8358;</span>
          </mat-form-field>

          <span fxFlex.gt-xs></span>

        </div>

        <div fxLayout="row">
          <button mat-flat-button color="primary" matStepperPrevious>
            <mat-icon>chevron_left</mat-icon>
            Previous            
          </button>
          <span fxFlex="1 1 auto"></span>
          <button mat-flat-button color="primary" matStepperNext>
            Next
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>

      </div>

    </mat-step>

    <!-- Roof and ceiling -->
    <mat-step label="Roof & Ceiling" [formGroup]="buildingForm.controls.roof" [stepControl]="buildingForm.controls.roof">
      
      <div fxLayout="column" fxLayoutGap="20px"> 

        <!-- Basic roof information -->
        <span class="mat-title">Basic roof information</span>   
        
        <div fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">          

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Roof style</mat-label>
            <mat-select formControlName="style"> 
              <mat-option value="flat">
                Flat
              </mat-option>
              <mat-option value="pitched">
                Pitched
              </mat-option>
              <mat-option value="arched">
                Arched
              </mat-option>
              <mat-option value="butterfly">
                Butterfly
              </mat-option>
              <mat-option value="hip">
                Hip
              </mat-option>
              <mat-option value="gambrel">
                Gambrel
              </mat-option>
              <mat-option value="mansard">
                Mansard
              </mat-option>
              <mat-option value="monitor">
                Monitor
              </mat-option>
              <mat-option value="shed">
                Shed
              </mat-option>
              <mat-option value="dome">
                Dome
              </mat-option>
              <mat-option value="gable">
                Gamle
              </mat-option>
              <mat-option value="other">
                Other
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Size</mat-label>
            <input type="text" matInput formControlName="size">
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Damage</mat-label>
            <mat-select formControlName="damage">
              <mat-option value="25">
                25%
              </mat-option>
              <mat-option value="50">
                50%
              </mat-option>
              <mat-option value="75">
                75%
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>condition</mat-label>
            <mat-select formControlName="condition">
              <mat-option value="excellent">
                Excellent
              </mat-option>
              <mat-option value="good">
                Good
              </mat-option>
              <mat-option value="fair">
                Fair
              </mat-option>
              <mat-option value="poor">
                Poor
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="40%" appearance={{appearance}}>
            <mat-label>Cost of repair</mat-label>
            <input type="text" matInput formControlName="cost_of_repair">
            <span matPrefix>&#8358;</span>
          </mat-form-field>

          <span fxFlex.gt-xs></span>


        </div>

        <!-- Roof support -->
        <mat-divider></mat-divider>
        <span class="mat-title">Roof support</span>   
        
        <div formGroupName="support" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">          

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Support type</mat-label>
            <mat-select formControlName="type">
              <mat-option value="joist">
                Joist
              </mat-option>
              <mat-option value="truss">
                Truss
              </mat-option>
              <mat-option value="ridge_frame">
                Ridge frame
              </mat-option>
              <mat-option value="arch">
                Arch
              </mat-option>
              <mat-option value="dome">
                Dome
              </mat-option>
              <mat-option value="cable">
                Cable
              </mat-option>
              <mat-option value="other">
                Other
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Size</mat-label>
            <input type="text" matInput formControlName="size">
            <span matSuffix>m</span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>quantity</mat-label>
            <input type="text" matInput formControlName="quantity">
            <span matSuffix>m</span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Damage</mat-label>
            <mat-select formControlName="damage">
              <mat-option value="25">
                25%
              </mat-option>
              <mat-option value="50">
                50%
              </mat-option>
              <mat-option value="75">
                75%
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>condition</mat-label>
            <mat-select formControlName="condition">
              <mat-option value="excellent">
                Excellent
              </mat-option>
              <mat-option value="good">
                Good
              </mat-option>
              <mat-option value="fair">
                Fair
              </mat-option>
              <mat-option value="poor">
                Poor
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="40%" appearance={{appearance}}>
            <mat-label>Cost of repair</mat-label>
            <input type="text" matInput formControlName="cost_of_repair">
            <span matPrefix>&#8358;</span>
          </mat-form-field>

          <span fxFlex.gt-xs></span>

        </div>

        <!-- Roof steel struss -->
        <mat-divider></mat-divider>
        <span class="mat-title">Roof steel struss</span>   
        
        <div formGroupName="steel_truss" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">          

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Type</mat-label>
            <mat-select formControlName="type">
              <mat-option value="joist">
                Joist
              </mat-option>
              <mat-option value="truss">
                Truss
              </mat-option>
              <mat-option value="z-purlins">
                Z-purlins
              </mat-option>
              <mat-option value="cleats">
                Cleats
              </mat-option>
              <mat-option value="bolts">
                Bolts
              </mat-option>
              <mat-option value="cables">
                Cables
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Size</mat-label>
            <input type="text" matInput formControlName="size">
            <span matSuffix>kg</span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Quantity</mat-label>
            <input type="text" matInput formControlName="quantity">
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Damage</mat-label>
            <mat-select formControlName="damage">
              <mat-option value="25">
                25%
              </mat-option>
              <mat-option value="50">
                50%
              </mat-option>
              <mat-option value="75">
                75%
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>condition</mat-label>
            <mat-select formControlName="condition">
              <mat-option value="excellent">
                Excellent
              </mat-option>
              <mat-option value="good">
                Good
              </mat-option>
              <mat-option value="fair">
                Fair
              </mat-option>
              <mat-option value="poor">
                Poor
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="40%" appearance={{appearance}}>
            <mat-label>Cost of repair</mat-label>
            <input type="text" matInput formControlName="cost_of_repair">
            <span matPrefix>&#8358;</span>
          </mat-form-field>

          <span fxFlex.gt-xs></span>

        </div>

        <!-- Roof decking -->
        <mat-divider></mat-divider>
        <span class="mat-title">Roof decking</span>   
        
        <div formGroupName="decking" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">          

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Type</mat-label>
            <mat-select formControlName="type">
              <mat-option value="metal">
                Metal
              </mat-option>
              <mat-option value="wood">
                Wood
              </mat-option>
              <mat-option value="concrete">
                Concrete
              </mat-option>
              <mat-option value="other">
                Other
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Size</mat-label>
            <input type="text" matInput formControlName="size">
            <span matSuffix>m<sup>3</sup></span>
          </mat-form-field>
          
          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Quantity</mat-label>
            <input type="text" matInput formControlName="quantity"> 
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Damage</mat-label>
            <mat-select formControlName="damage">
              <mat-option value="25">
                25%
              </mat-option>
              <mat-option value="50">
                50%
              </mat-option>
              <mat-option value="75">
                75%
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>condition</mat-label>
            <mat-select formControlName="condition">
              <mat-option value="excellent">
                Excellent
              </mat-option>
              <mat-option value="good">
                Good
              </mat-option>
              <mat-option value="fair">
                Fair
              </mat-option>
              <mat-option value="poor">
                Poor
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="40%" appearance={{appearance}}>
            <mat-label>Cost of repair</mat-label>
            <input type="text" matInput formControlName="cost_of_repair">
            <span matPrefix>&#8358;</span>
          </mat-form-field>

          <span fxFlex.gt-xs></span>
        </div>

        <!-- Roof covering -->
        <mat-divider></mat-divider>
        <span class="mat-title">Roof covering</span>   
        
        <div formGroupName="covering" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">          

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Type</mat-label>
            <mat-select formControlName="type">
              <mat-option value="asbestos">
                Asbestos
              </mat-option>
              <mat-option value="zinc">
                Zinc
              </mat-option>
              <mat-option value="aluminium">
                Aluminum
              </mat-option>
              <mat-option value="stone_coated_tiles">
                Stone coated tiles
              </mat-option>
              <mat-option value="other">
                Other
              </mat-option>
            </mat-select>
          </mat-form-field> 

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Size</mat-label>
            <input type="text" matInput formControlName="size">
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Quantity</mat-label>
            <input type="text" matInput formControlName="quantity">
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Damage</mat-label>
            <mat-select formControlName="damage">
              <mat-option value="25">
                25%
              </mat-option>
              <mat-option value="50">
                50%
              </mat-option>
              <mat-option value="75">
                75%
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>condition</mat-label>
            <mat-select formControlName="condition">
              <mat-option value="excellent">
                Excellent
              </mat-option>
              <mat-option value="good">
                Good
              </mat-option>
              <mat-option value="fair">
                Fair
              </mat-option>
              <mat-option value="poor">
                Poor
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="40%" appearance={{appearance}}>
            <mat-label>Cost of repair</mat-label>
            <input type="text" matInput formControlName="cost_of_repair">
            <span matPrefix>&#8358;</span>
          </mat-form-field>

          <span fxFlex.gt-xs></span>
        </div>

        <!-- Ceiling -->
        <mat-divider></mat-divider>
        <span class="mat-title">Ceiling</span>   
        
        <div formGroupName="ceiling" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">          

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Ceiling type</mat-label>
            <input type="text" matInput formControlName="type">
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Size</mat-label>
            <input type="text" matInput formControlName="size">
            <span matSuffix>m<sup>2</sup></span>
          </mat-form-field>


          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Damage</mat-label>
            <mat-select formControlName="damage">
              <mat-option value="25">
                25%
              </mat-option>
              <mat-option value="50">
                50%
              </mat-option>
              <mat-option value="75">
                75%
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="40%" appearance={{appearance}}>
            <mat-label>Cost of repair</mat-label>
            <input type="text" matInput formControlName="cost_of_repair">
            <span matPrefix>&#8358;</span>
          </mat-form-field>

          <span fxFlex.gt-xs></span>
        </div>

        <div fxLayout="row">
          <button mat-flat-button color="primary" matStepperPrevious>
            <mat-icon>chevron_left</mat-icon>
            Previous            
          </button>
          <span fxFlex="1 1 auto"></span>
          <button mat-flat-button color="primary" matStepperNext>
            Next
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>

      </div>

    </mat-step>
    <!-- Building services -->
    <mat-step label="Building services" [formGroup]="buildingForm.controls.services">
      
      <div fxLayout="column" fxLayoutGap="20px"> 
        
        <!-- Roof lights -->
        <mat-divider></mat-divider>
        <span class="mat-title">Roof lights</span>   
        
        <div formGroupName="roof_lights"  fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">          


          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Size</mat-label>
            <input type="text" matInput formControlName="size">
            <span matSuffix>m</span>
          </mat-form-field>
          
          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Thickness</mat-label>
            <input type="text" matInput formControlName="thickness">
            <span matSuffix>m</span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Quantity</mat-label>
            <input type="text" matInput formControlName="quantity">
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>condition</mat-label>
            <mat-select formControlName="condition">
              <mat-option value="excellent">
                Excellent
              </mat-option>
              <mat-option value="good">
                Good
              </mat-option>
              <mat-option value="fair">
                Fair
              </mat-option>
              <mat-option value="poor">
                Poor
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Damage</mat-label>
            <mat-select formControlName="damage">
              <mat-option value="25">
                25%
              </mat-option>
              <mat-option value="50">
                50%
              </mat-option>
              <mat-option value="75">
                75%
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="40%" appearance={{appearance}}>
            <mat-label>Cost of repair</mat-label>
            <input type="text" matInput formControlName="cost_of_repair">
            <span matPrefix>&#8358;</span>
          </mat-form-field>

          <span fxFlex.gt-xs></span>
        </div>

        <!-- Air conditioning -->
        <mat-divider></mat-divider>
        <span class="mat-title">Air conditioning</span>   
        
        <div formGroupName="air_conditioning" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">          


          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Piping length</mat-label>
            <input type="text" matInput formControlName="piping_length">
            <span matSuffix>m</span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Quantity</mat-label>
            <input type="text" matInput formControlName="quantity">
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>condition</mat-label>
            <mat-select formControlName="condition">
              <mat-option value="excellent">
                Excellent
              </mat-option>
              <mat-option value="good">
                Good
              </mat-option>
              <mat-option value="fair">
                Fair
              </mat-option>
              <mat-option value="poor">
                Poor
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Damage</mat-label>
            <mat-select formControlName="damage">
              <mat-option value="25">
                25%
              </mat-option>
              <mat-option value="50">
                50%
              </mat-option>
              <mat-option value="75">
                75%
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="40%" appearance={{appearance}}>
            <mat-label>Cost of repair</mat-label>
            <input type="text" matInput formControlName="cost_of_repair">
            <span matPrefix>&#8358;</span>
          </mat-form-field>

          <span fxFlex.gt-xs></span>
        </div>

        <!-- Roof covering -->
        <mat-divider></mat-divider>
        <span class="mat-title">Roof covering</span>   
        
        <div formGroupName="roof_covering" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">          


          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Height</mat-label>
            <input type="text" matInput formControlName="height">
            <span matSuffix>m</span>
          </mat-form-field>
          
          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Sloping length</mat-label>
            <input type="text" matInput formControlName="sloping_length">
            <span matSuffix>m</span>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Quantity</mat-label>
            <input type="text" matInput formControlName="quantity">
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>condition</mat-label>
            <mat-select formControlName="condition">
              <mat-option value="excellent">
                Excellent
              </mat-option>
              <mat-option value="good">
                Good
              </mat-option>
              <mat-option value="fair">
                Fair
              </mat-option>
              <mat-option value="poor">
                Poor
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Damage</mat-label>
            <mat-select formControlName="damage">
              <mat-option value="25">
                25%
              </mat-option>
              <mat-option value="50">
                50%
              </mat-option>
              <mat-option value="75">
                75%
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="40%" appearance={{appearance}}>
            <mat-label>Cost of repair</mat-label>
            <input type="text" matInput formControlName="cost_of_repair">
            <span matPrefix>&#8358;</span>
          </mat-form-field>

          <span fxFlex.gt-xs></span>
        </div>

        <!-- Burglar proof -->
        <mat-divider></mat-divider>
        <span class="mat-title">Burglar proof</span>   
        
        <div formGroupName="burglar_proof" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">          


          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Type</mat-label>
            <input type="text" matInput formControlName="type">
          </mat-form-field>
          
          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Quantity</mat-label>
            <input type="text" matInput formControlName="quantity">
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Location</mat-label>
            <input type="text" matInput formControlName="location">
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>condition</mat-label>
            <mat-select formControlName="condition">
              <mat-option value="excellent">
                Excellent
              </mat-option>
              <mat-option value="good">
                Good
              </mat-option>
              <mat-option value="fair">
                Fair
              </mat-option>
              <mat-option value="poor">
                Poor
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Damage</mat-label>
            <mat-select formControlName="damage">
              <mat-option value="25">
                25%
              </mat-option>
              <mat-option value="50">
                50%
              </mat-option>
              <mat-option value="75">
                75%
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="40%" appearance={{appearance}}>
            <mat-label>Cost of repair</mat-label>
            <input type="text" matInput formControlName="cost_of_repair">
            <span matPrefix>&#8358;</span>
          </mat-form-field>

          <span fxFlex.gt-xs></span>
        </div>

        <!-- Gates -->
        <mat-divider></mat-divider>
        <span class="mat-title">Gates</span>   
        
        <div formGroupName="gates" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">          


          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Quantity</mat-label>
            <input type="text" matInput formControlName="quantity">
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>condition</mat-label>
            <mat-select formControlName="condition">
              <mat-option value="excellent">
                Excellent
              </mat-option>
              <mat-option value="good">
                Good
              </mat-option>
              <mat-option value="fair">
                Fair
              </mat-option>
              <mat-option value="poor">
                Poor
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="40%" appearance={{appearance}}>
            <mat-label>Cost of repair</mat-label>
            <input type="text" matInput formControlName="cost_of_repair">
            <span matPrefix>&#8358;</span>
          </mat-form-field>

          <span fxFlex.gt-xs></span>
        </div>

        <!-- Drainage -->
        <mat-divider></mat-divider>
        <span class="mat-title">Air conditioning</span>   
        
        <div formGroupName="drainage" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">          

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Quantity</mat-label>
            <input type="text" matInput formControlName="quantity">
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>condition</mat-label>
            <mat-select formControlName="condition">
              <mat-option value="excellent">
                Excellent
              </mat-option>
              <mat-option value="good">
                Good
              </mat-option>
              <mat-option value="fair">
                Fair
              </mat-option>
              <mat-option value="poor">
                Poor
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="40%" appearance={{appearance}}>
            <mat-label>Cost of repair</mat-label>
            <input type="text" matInput formControlName="cost_of_repair">
            <span matPrefix>&#8358;</span>
          </mat-form-field>

          <span fxFlex.gt-xs></span>
        </div>

        <!-- Distribution -->
        <mat-divider></mat-divider>
        <span class="mat-title">Distribution</span>   
        
        <div formGroupName="distribution" fxLayout.xs="column" fxLayoutAlign="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="10px grid">          


          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>Quantity</mat-label>
            <input type="text" matInput formControlName="quantity">
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
            <mat-label>condition</mat-label>
            <mat-select formControlName="condition">
              <mat-option value="excellent">
                Excellent
              </mat-option>
              <mat-option value="good">
                Good
              </mat-option>
              <mat-option value="fair">
                Fair
              </mat-option>
              <mat-option value="poor">
                Poor
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex.gt-xs="40%" appearance={{appearance}}>
            <mat-label>Cost of repair</mat-label>
            <input type="text" matInput formControlName="cost_of_repair">
            <span matPrefix>&#8358;</span>
          </mat-form-field>

          <span fxFlex.gt-xs></span>
        </div>

        <div fxLayout="row">
          <button mat-flat-button color="primary" matStepperPrevious>
            <mat-icon>chevron_left</mat-icon>
            Previous            
          </button>
          <span fxFlex="1 1 auto"></span>
          <button mat-flat-button color="primary" matStepperNext>
            Next
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>

      </div>

    </mat-step>

    <mat-step label="Others" [formGroup]="buildingForm.controls.elevator">
      
      <div fxLayout="column" fxLayoutGap="20px"> 
        <div fxLayout="row">
          <span fxFlex="1 1 auto"></span>
          <button mat-flat-button color="primary" *ngIf="!hasElevator" (click)="addElevator()">
            <mat-icon>add</mat-icon>
            Add elevator
          </button>

          <button mat-flat-button color="warn" *ngIf="hasElevator" (click)="removeElevator()">
            <mat-icon>cancel</mat-icon>
            Remove elevator
          </button>
        </div>

        <span class="mat-title" *ngIf="hasElevator">Elevators</span>
        <mat-divider *ngIf="hasElevator"></mat-divider>
        <div fxLayout="column" *ngIf="hasElevator">
          <span class="mat-title">Number of elevators</span>
          <div formGroupName="count" fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutGap="10px" *ngIf="hasElevator">
            
            <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
              <mat-label>Passenger elevators</mat-label>
              <input type="text" matInput formControlName="passenger">
            </mat-form-field>    
            
            <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
              <mat-label>Freight elevators</mat-label>
              <input type="text" matInput formControlName="freight">
            </mat-form-field>    

            <mat-form-field fxFlex.gt-xs="20%" appearance={{appearance}}>
              <mat-label>Fire service elevators</mat-label>
              <input type="text" matInput formControlName="fire_service">
            </mat-form-field>    

          </div>
          
        </div>

        <div fxLayout="row">
          <button mat-flat-button color="primary" matStepperPrevious>
            <mat-icon>chevron_left</mat-icon>
            Previous            
          </button>
          <span fxFlex="1 1 auto"></span>
          <button mat-flat-button color="primary" (click)="submit()" [disabled]="buildingForm.invalid">
            Complete
          </button>
        </div>

      </div>

    </mat-step>

    </form>
  
  </mat-horizontal-stepper>

</mat-dialog-content>

<div mat-dialog-actions align="end" *ngIf="error">
  <span color="warn" class="mat-h4">Unable to complete action</span>
</div>