<!-- Building component -->
<mat-card>

    <mat-card-header>
      <mat-card-title>
        {{ data.structure.name | titlecase }}
      </mat-card-title>
      <mat-card-subtitle>
        Code: {{ data.structure.code | titlecase }}
      </mat-card-subtitle>
    </mat-card-header>
  
    <!--<img mat-card-image src={{data.image}}>-->
  
    <mat-card-content>
      <mat-list dense>
        <mat-list-item color="warn">
          <!--Repair cost: &#8358;{{ data.cost_of_repair | number: '.2' }} -->
          Purpose: {{ data.structure.purpose}}
        </mat-list-item>
      </mat-list>
  
    </mat-card-content>
  
    <mat-divider></mat-divider>
  
    <mat-card-actions align="end">
      <button mat-flat-button color="primary" routerLink="../building/{{data._id}}" value={{data._id}} (click)="showSummary(data._id)">
        More details
      </button>
    </mat-card-actions>
  
  </mat-card>