<mat-card>

    <mat-card-header>
      <mat-card-title>
        {{ data.name }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ data.type }}
      </mat-card-subtitle>
    </mat-card-header>
  
    <img mat-card-image src={{data.image}}>
  
    <mat-card-content>
      <mat-list dense>
        <mat-list-item>
          {{ data.description }}
        </mat-list-item>
        <mat-list-item color="warn">
          Repair cost: &#8358;{{data.repair_cost }}
        </mat-list-item>
      </mat-list>
  
    </mat-card-content>
  
    <mat-divider></mat-divider>
  
    <mat-card-actions align="end">
      <button mat-flat-button color="primary" value={{data.id}} (click)="showSummary(data.id)">
        More details
      </button>
    </mat-card-actions>
  
  </mat-card>