<mat-tab-group>
    <mat-tab label="Low value Equipment">
        <div fxLayout="row">
            <span fxFlex="1 1 auto"></span>
            <button mat-flat-button color="primary" (click)="openAddLVEDialog()" matTooltip="Add low value equipment">
              <mat-icon>add</mat-icon>
              Add site
            </button>
          </div>
        No items uploaded yet.
    </mat-tab>
    <mat-tab label="High Value Equipment">
        <div fxLayout="row">
            <span fxFlex="1 1 auto"></span>
            <button mat-flat-button color="primary" (click)="openAddHVEDialog()" matTooltip="Add High value equipment">
              <mat-icon>add</mat-icon>
              Add site
            </button>
          </div>
        No items uploaded yet.
    </mat-tab>
</mat-tab-group>