
<!-- Pills -->
<!--
<div fxLayout="row">
  <span fxFlex="1 1 auto"></span>
  <button mat-flat-button color="primary" (click)="openAddSiteDialog()" matTooltip="Add site details">
    <mat-icon>add</mat-icon>
    Add site
  </button>
</div>
-->

<div fxLayout="row wrap">
    <!-- Sites -->
    <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" [@animate]="{value:'*',params:{delay:'100ms',scale:'.9'}}" routerLink="sites">
      <mat-card class="rounded-circle" fxLayout="row wrap" fxLayoutAlign="start center">
        <img class="avatar-md rounded-circle" src="assets/FEIMS_icons/sites.png" alt="">
        <span style="width: 20px"></span>
        <div>
          <p class="m-0 text-14 text-muted line-height-1" style="color: black;">Sites</p>
          <span class="text-18 font-weight-bold text-green">0<!--<span class="material-icons mat-icon-18">arrow_drop_up</span>--></span>
        </div>
      </mat-card>
    </div>
    
    <!-- Buildings -->
    <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" [@animate]="{value:'*',params:{delay:'150ms',scale:'.9'}}" routerLink="buildings">
        <mat-card class="rounded-circle" fxLayout="row wrap" fxLayoutAlign="start center">
          <img class="avatar-md rounded-circle" src="assets/FEIMS_icons/buildings.png" alt="">
          <span style="width: 20px"></span>
          <div>
            <p class="m-0 text-14 text-muted line-height-1" style="color: black;">Buildings</p>
            <span class="text-18 font-weight-bold text-green">0<!--<span class="material-icons mat-icon-18">arrow_drop_up</span>--></span>
          </div>
        </mat-card>
    </div>

    <!-- High Value Equipment -->
    <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" [@animate]="{value:'*',params:{delay:'200ms',scale:'.9'}}" routerLink='equipment' routerLinkActive="router-link-active" >
        <mat-card class="rounded-circle" fxLayout="row wrap" fxLayoutAlign="start center">
          <img class="avatar-md rounded-circle" src="assets/FEIMS_icons/hve.png" alt="">
          <span style="width: 20px"></span>
          <div>
            <p class="m-0 text-14 text-muted line-height-1" style="color: black;">Equipment (HV)</p>
            <span class="text-18 font-weight-bold text-green">0<!--<span class="material-icons mat-icon-18">arrow_drop_up</span>--></span>
          </div>
        </mat-card>
    </div>

    <!-- Low Value Equipment -->
    <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" [@animate]="{value:'*',params:{delay:'250ms',scale:'.9'}}" routerLink='equipment'>
        <mat-card class="rounded-circle" fxLayout="row wrap" fxLayoutAlign="start center">
          <img class="avatar-md rounded-circle" src="assets/FEIMS_icons/lve.png" alt="">
          <span style="width: 20px"></span>
          <div>
            <p class="m-0 text-14 text-muted line-height-1" style="color: black;">Equipment (LV)</p>
            <span class="text-18 font-weight-bold text-green">0<!--<span class="material-icons mat-icon-18">arrow_drop_up</span>--></span>
          </div>
        </mat-card>
    </div>

    <!-- Obsolete -->
    <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" [@animate]="{value:'*',params:{delay:'300ms',scale:'.9'}}">
        <mat-card class="rounded-circle" fxLayout="row wrap" fxLayoutAlign="start center">
          <img class="avatar-md rounded-circle" src="assets/FEIMS_icons/obsolete.png" alt="">
          <span style="width: 20px"></span>
          <div>
            <p class="m-0 text-14 text-muted line-height-1" style="color: black;">Obsolete</p>
            <span class="text-18 font-weight-bold text-green">0<!--<span class="material-icons mat-icon-18">arrow_drop_up</span>--></span>
          </div>
        </mat-card>
    </div>

    <!-- Abandoned -->
    <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" [@animate]="{value:'*',params:{delay:'350ms',scale:'.9'}}">
        <mat-card class="rounded-circle" fxLayout="row wrap" fxLayoutAlign="start center">
          <img class="avatar-md rounded-circle" src="assets/FEIMS_icons/abandoned.png" alt="">
          <span style="width: 20px"></span>
          <div>
            <p class="m-0 text-14 text-muted line-height-1" style="color: black;">Abandoned</p>
            <span class="text-18 font-weight-bold text-green">0<!--<span class="material-icons mat-icon-18">arrow_drop_up</span>--></span>
          </div>
        </mat-card>
    </div>

    <!-- Repairable -->
    <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" [@animate]="{value:'*',params:{delay:'400ms',scale:'.9'}}">
        <mat-card class="rounded-circle" fxLayout="row wrap" fxLayoutAlign="start center">
          <img class="avatar-md rounded-circle" src="assets/FEIMS_icons/repairable.png" alt="">
          <span style="width: 20px"></span>
          <div>
            <p class="m-0 text-14 text-muted line-height-1" style="color: black;">Repairable</p>
            <span class="text-18 font-weight-bold text-green">0<!--<span class="material-icons mat-icon-18">arrow_drop_up</span>--></span>
          </div>
        </mat-card>
    </div>

    <!-- Good Condition -->
    <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" [@animate]="{value:'*',params:{delay:'450ms',scale:'.9'}}">
        <mat-card class="rounded-circle" fxLayout="row wrap" fxLayoutAlign="start center">
          <img class="avatar-md rounded-circle" src="assets/FEIMS_icons/good_condition.png" alt="">
          <span style="width: 20px"></span>
          <div>
            <p class="m-0 text-14 text-muted line-height-1" style="color: black;">Good Condition</p>
            <span class="text-18 font-weight-bold text-green">0<!--<span class="material-icons mat-icon-18">arrow_drop_up</span>--></span>
          </div>
        </mat-card>
    </div>
    
  </div>

  <!-- Charts component -->
  <app-charts></app-charts>

  <div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" [@animate]="{value:'*',params:{scale:'.9',delay:'300ms'}}">
      <mat-card>
        <mat-card-title fxLayoutAlign="start center">
          <small class="text-muted"  style="color: black;">Total expenditure</small>
          <span fxFlex></span>
          <mat-chip
          class="icon-chip" 
          color="primary" 
          selected="true"><mat-icon>trending_up</mat-icon>0%</mat-chip>
        </mat-card-title>
        <mat-card-content>
          <h3 class="m-0 font-normal">&#8358;0.00</h3>
          <small class="text-muted">2020</small>
        </mat-card-content>
      </mat-card>
    </div>
  
    <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" [@animate]="{value:'*',params:{delay:'300ms',scale:'.9'}}">
      <mat-card>
        <mat-card-title>
          <small class="text-muted"  style="color: black;">Repairs</small>
          <span fxFlex></span>
          <mat-chip
          class="icon-chip" 
          color="accent" 
          selected="true"><mat-icon>trending_up</mat-icon>0%</mat-chip>
        </mat-card-title>
        <mat-card-content>
          <h3 class="m-0 font-normal">&#8358;0.00</h3>
          <small class="text-muted">2020</small>
        </mat-card-content>
      </mat-card>
    </div>
  
    <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" [@animate]="{value:'*',params:{delay:'300ms',scale:'.9'}}">
      <mat-card>
        <mat-card-title>
          <small class="text-muted" style="color: black;">Purchases</small>
          <span fxFlex></span>
          <mat-chip
          class="icon-chip" 
          color="accent" 
          selected="true"><mat-icon>trending_up</mat-icon>0%</mat-chip>
        </mat-card-title>
        <mat-card-content>
          <h3 class="m-0 font-normal">&#8358;0.00</h3>
          <small class="text-muted">2020</small>
        </mat-card-content>
      </mat-card>
    </div>

    <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" [@animate]="{value:'*',params:{delay:'300ms',scale:'.9'}}">
      <mat-card>
        <mat-card-title>
          <small class="text-muted" style="color: black;">damages</small>
          <span fxFlex></span>
          <mat-chip
          class="icon-chip" 
          color="warn" 
          selected="true"><mat-icon>trending_down</mat-icon>0%</mat-chip>
        </mat-card-title>
        <mat-card-content>
          <h3 class="m-0 font-normal">&#8358;0.00</h3>
          <small class="text-muted">2020</small>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  