<!-- Add High Value Equipment -->
<h2 mat-dialog-title>
    Add High value equipment
    <span fxFlex="1 1 auto">
    
    </span>
  
    <!--<button mat-stroked-button>Reset form</button>--> 
    <button mat-icon-button aria-label="close dialog" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
</h2>

<mat-dialog-content [formGroup]="hveForm">

    <div  fxLayoutGap="20px" fxLayout="column" [formGroup]="hveForm">

        <div fxLayout.xs="column" fxLayoutAlign.gt-xs="space-between" fxLayout.gt-xs="row wrap" fxLayoutGap="20px">
      
          <mat-form-field fxFlex="240px">
            <mat-label>name</mat-label>
            <input matInput type="text" formControlName="name">
          </mat-form-field>
      
          <mat-form-field fxFlex="120px">
            <mat-label>code</mat-label>
            <input matInput type="text" formControlName="code">
          </mat-form-field>
      
          <mat-form-field fxFlex="240px">
            <mat-label>serial number</mat-label>
            <input matInput type="text" formControlName="serialNumber">
          </mat-form-field>
      
          <mat-form-field fxFlex="120px">
            <mat-label>has manual?</mat-label>
            <mat-select formControlName="code">
              <mat-option value=true>yes</mat-option>
              <mat-option value=false>no</mat-option>
            </mat-select>
          </mat-form-field>
      
          <mat-form-field fxFlex="240px">
            <mat-label>manufacturer</mat-label>
            <input matInput type="text" formControlName="manufacturer">
          </mat-form-field>
      
          <mat-form-field fxFlex="120px">
            <mat-label>date commissioned</mat-label>
            <input matInput type="date" formControlName="commissionDate">
          </mat-form-field>
      
          <mat-form-field fxFlex="120px">
            <mat-label>model</mat-label>
            <input matInput type="text" formControlName="model">
          </mat-form-field>
      
          <mat-form-field fxFlex="120px">
            <mat-label>date manufactured</mat-label>
            <input matInput type="date" formControlName="dateManufactured">
          </mat-form-field>
      
          <mat-form-field fxFlex="120px">
            <mat-label>date acquired</mat-label>
            <input matInput type="date" formControlName="dateAcquired">
          </mat-form-field>
      
          <div fxFlex.gt-xs="1 1 auto" fxLayout.gt-xs="row" formGroupName="position" fxLayoutGap="20px">
      
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Position</mat-label>
              <input type="text" matInput formControlName="longitude">
              <mat-hint>longitude</mat-hint>
            </mat-form-field>
      
            <mat-form-field fxFlex.gt-xs="120px">
              <mat-label>Position</mat-label>
              <input type="text" matInput formControlName="latitude">
              <mat-hint>latitude</mat-hint>
            </mat-form-field>
      
          </div>
      
          <mat-form-field fxFlex.gt-xs="120px">
            <mat-label>has circuit diagram?</mat-label>
            <mat-select formControlName="hasCircuitDiagram">
              <mat-option value=true>yes</mat-option>
              <mat-option value=false>no</mat-option>
            </mat-select>
          </mat-form-field>
      
          <mat-form-field fxFlex.gt-xs="120px">
            <mat-label>Condition</mat-label>
            <mat-select formControlName="condition">
              <mat-option value="excellent">Excellent</mat-option>
              <mat-option value="good">Good</mat-option>
              <mat-option value="repairable">Repairable</mat-option>
              <mat-option value="obsolete">Obsolete</mat-option>
            </mat-select>
          </mat-form-field>
      
          <mat-form-field fxFlex.gt-xs="120px">
            <mat-label>damage</mat-label>
            <mat-select formControlName="damage">
              <mat-option value=25>25%</mat-option>
              <mat-option value=50>50%</mat-option>
              <mat-option value=75>75%</mat-option>
            </mat-select>
          </mat-form-field>
      
          <mat-form-field fxFlex.gt-xs="120px">
            <mat-label>cost of repair</mat-label>
            <input matInput formControlName="costOfRepair">
            <sup matPrefix>&#8358; </sup>
          </mat-form-field>
      
      
        </div>
      
        <!-- Specifications
        <mat-divider></mat-divider>
        <span class="mat-title">Additional specifications</span>
        <div fxLayout="column" formArrayName="specifications" fxLayoutGap="20px" *ngIf="specifications">
          <div *ngFor="let specification of specifications.controls; let i = index">
            <div fxLayout="row" fxLayoutGap="20px" [formGroupName]="i">
      
              <mat-form-field appearance="outline">
                <mat-label>Parameter</mat-label>
                <input matInput type="text" formControlName="parameter">
              </mat-form-field>
      
              <mat-form-field appearance="outline">
                <mat-label>value</mat-label>
                <input matInput type="text" formControlName="value">
              </mat-form-field>
      
              <button mat-icon-button color="warn" (click)="removeSpec(i)">
                <mat-icon>cancel</mat-icon>
                Remove
              </button>
            </div>
          </div>
      
        </div>
      
        <div fxLayout="row">
          <span fxFlex="1 1 auto"></span>
          <button mat-flat-button color="primary" (click)="addSpec()">
            <mat-icon>add</mat-icon>
            Add spec
          </button>
        </div>-->
      
        <!-- Components -->
        <mat-divider></mat-divider>
        <span class="mat-title">Additional componentss</span>
        <div fxLayout="column" formArrayName="components" fxLayoutGap="20px" *ngIf="components">
          <div *ngFor="let component of components.controls; let i = index">
            <div fxLayout="row" fxLayoutGap="10px" [formGroupName]="i" fxLayoutAlign="space-around">
      
              <mat-form-field fxFlex.gt-xs="240px">
                <mat-label>name</mat-label>
                <input matInput type="text" formControlName="name">
              </mat-form-field>
      
              <mat-form-field fxFlex.gt-xs="240px">
                <mat-label>description</mat-label>
                <input matInput type="text" formControlName="description">
              </mat-form-field>
      
              <mat-form-field fxFlex.gt-xs="120px">
                <mat-label>quantity</mat-label>
                <input matInput type="text" formControlName="quantity">
              </mat-form-field>
      
              <button mat-icon-button color="warn" (click)="removeComponent(i)">
                <mat-icon>cancel</mat-icon>
                Remove
              </button>
            </div>
          </div>
      
        </div>
      
        <div fxLayout="row">
          <span fxFlex="1 1 auto"></span>
          <button mat-flat-button color="primary" (click)="addComponent()">
            <mat-icon>add</mat-icon>
            Add component
          </button>
        </div>
    </div>

</mat-dialog-content>

<div mat-dialog-actions align="end">
    <!--<span color="warn" class="mat-h4">Unable to complete action</span>-->
    <button mat-flat-button color="primary" [disabled]="hveForm.invalid" (click)="testSubmit()">Add Equipment</button>
  </div>