.working{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: rgba(21, 101, 192, 0.8);
}
.repairable{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: rgba(100, 181, 246, 0.8)
}
.abandoned{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: rgba(255, 50, 50, 0.8)
}